<tr>
    <th scope="row">1</th>
    <td>Traffic Lights</td>
    <td>Self</td>
    <td>09-11-2021</td>
    <td>14-11-2021</td>
    <td>Accepted</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Taking subways in London</td>
    <td>For autistic friend</td>
    <td>09-11-2021</td>
    <td>14-11-2021</td>
    <td>Moderating</td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td>Shopping in a market</td>
    <td>Self</td>
    <td>09-11-2021</td>
    <td>14-11-2021</td>
    <td>Re-moderating</td>
  </tr>