{% load static %}


  <div class="row">
  <div class="col-lg-3 footer-column">
      <img class="footer-image" src="{% static "/images/autistica.png" %}" width="65" height="40" alt="Autistica
  Logo" />
      <img class="footer-image" src="{% static "/images/alanturing.png" %}" width="75" height="40" alt="Alan Turing Institute
      Logo" />
      <p class="footer-text">©Copyright 2022 AutSPACEs</p>
      <p class="footer-text"><a href="https://twitter.com/AutSpaces">@AutSpaces</a> on Twitter</p>
    </div>
    <div class="col-lg-3 footer-text">
      <h5>Allied Organisations</h5>
      <p>Autistica</p>
      <p>National Autistic Society</p>
      <p>Samaritans</p>
    </div>

    <div class="col-lg-3 footer-text">
      <h5>Policies</h5>
      <p>Ethics</p>
      <p>Terms of Use</p>
      <p>Code of Conduct</p>
    </div>

    <div class="col-lg-3 footer-text">
    <h5>About Us</h5>
      <p>GitHub</p>
      <p>Glossary</p>
      <p>Publications</p>
  </div>
  </div>
