{% load static %}

  <div class="row">
    <div class="col-lg-3 footer-column">
      <a href="https://www.autistica.org.uk/"><img class="footer-image" src="{% static 'images/autistica.png' %}" width="65" height="40" alt="Autistica Logo" /></a>
      <a href="https://www.turing.ac.uk/"><img class="footer-image" src="{% static 'images/alanturing.png' %}" width="75" height="40" alt="Alan Turing Institute Logo" /></a>
      <p class="footer-text">&copy; Copyright 2024 AutSPACEs</p>
    </div>
    <div class="col-lg-3 footer-text">
      <h5>Supported by:</h5>
      <p><a href="https://www.autistica.org.uk/">Autistica</a></p>
      <p><a href="https://www.turing.ac.uk/">The Alan Turing Institute</a></p>
      <p><a href="https://www.openhumans.org/">Open Humans</a></p>
    </div>

    <div class="col-lg-3 footer-text">
      <h5>Policies</h5>
      <p><a href="{% url 'main:participant_information' %}">Participant information</a></p>
      <p><a href="{% url 'main:content_moderation_guidelines' %}">Content guidelines</a></p>
      <p><a href="https://github.com/alan-turing-institute/AutSPACEs/blob/main/code-of-conduct.md">Community code of conduct</a></p>
    </div>

    <div class="col-lg-3 footer-text">
    <h5>About us</h5>
      <p><a href="https://github.com/alan-turing-institute/AutSPACEs">GitHub</a></p>
      <p>Explore AutSPACEs</p>
      <p>Data usage</p>
    </div>
  </div>
