
<nav class="navbar navbar-expand-xl navbar-dark">
      <a class="nav-content navbar-brand" href="#">AutSPACEs</a>
      <button aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
              data-target="#navbarText"
              data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <div class="navbar-nav">
          <a class="nav-content nav-item nav-link" href="{% url 'main:overview' %}">Home <span class="sr-only">(current)</span></a>
          <a class="nav-content nav-item nav-link" href="{% url 'main:what_autism_is' %}">What Autism is</a>
          <a class="nav-content nav-item nav-link" href="{% url 'main:view_experiences' %}">View Experiences</a>
          {% if user.is_authenticated %}
          <a class="nav-content nav-item nav-link" href="{% url 'main:moderate_public_experiences' %}">Moderate
            Experiences</a>

          <a class="nav-content nav-item nav-link" href="{% url 'main:my_stories' %}">My Stories</a>

          <a class="nav-content nav-item nav-link" href="{% url 'main:upload' %}">Share Experiences</a>

          <form action="{% url 'main:logout' %}" method="post">{% csrf_token %}<input class="btn btn-outline-primary"
                                                                                      style="margin-top:6px;"
                                                                                      type="submit"
                                                                                      value="Log out">
          </form>
          {% endif %}
          <a class="nav-content nav-item nav-link" href="{% url 'main:about_us' %}">About Us</a>
        </div>
      </div>
      <a class="navbar-brand" href="#">
        <a class="nav-content nav-item nav-link log-link" style="color: #fff" href="{{ auth_url }}">Log In</a>
      </a>
<!--      Update the link to Registration Instructions page-->
      <a class="navbar-brand" href="#">
         <a href="https://github.com/alan-turing-institute/AutisticaCitizenScience"
            class="nav-content nav-item btn btn-lg btn-light">Register</a>
      </a>
    </nav>
