 {% load static %}
  <!-- Bootstrap CSS -->
  <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
  <!--Google Fonts-->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,300&display=swap"
        rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic" rel="stylesheet" type="text/css">
<!--    Stylesheet-->
  <link href="{% static '/css/navigation_light.css' %}" rel="stylesheet" id="mystylesheet">

  <div class="container-fluid">
  <nav class="navbar navbar-expand-xl navbar-dark">
      <a class="nav-content navbar-brand" href="#">AutSPACEs</a>
      <button aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
              data-target="#navbarText"
              data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav">
          <a class="nav-content nav-item nav-link" href="{% url 'main:overview' %}">Home</a>
          <a class="nav-content nav-item nav-link" href="{% url 'main:what_autism_is' %}">What Autism is</a>
          {% if user.is_authenticated %}
<!--
             <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Experiences
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'main:view_experiences' %}">View Experiences</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
-->

          <a class="nav-content nav-item nav-link" href="{% url 'main:view_experiences' %}">View Experiences</a>
          <a class="nav-content nav-item nav-link" href="{% url 'main:upload' %}">Share Experiences</a>
          <a class="nav-content nav-item nav-link" href="{% url 'main:moderate_public_experiences' %}">Moderate
            Experiences</a>
          <li>
          <a class="nav-content nav-item nav-link" href="{% url 'main:my_stories' %}">My Stories</a>
</li>
          {% else %}
          <li>
          <a class="nav-content nav-item nav-link" href="{% url 'main:view_experiences' %}">View Experiences</a>
</li>
          {% endif %}
          <li>
          <a class="nav-content nav-item nav-link" href="{% url 'main:about_us' %}">About Us</a>
          </li>
        </ul>
      </div>
      {% if user.is_authenticated %}
        <form action="{% url 'main:logout' %}" method="post">{% csrf_token %}<input
            class="btn btn-light btn-lg"
                                                                                      type="submit" value="Log out">
          </form>
     {% elif not page_status == "registration" %}
        <a class="nav-content nav-item nav-link log-link" style="color: #fff" href="{{ auth_url }}">Log In</a>
      </a>
         <a href="{% url 'main:registration' %}" class="nav-content nav-item btn btn-lg btn-light">Register</a>
      </a>
    {% endif %}

    </nav>
</div>

