 {% load static %}
 {% load custom_tags %}
  <div class="nav-section">
  <nav class="navbar navbar-expand-xl navbar-dark">
      <a class="nav-content navbar-brand" href="{% url 'index' %}">AutSPACEs</a>
      <button aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
              data-target="#navbarText"
              data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li>
            <a class="nav-content nav-item nav-link" href="{% url 'main:public_experiences' %}">View Stories</a>
          </li>
          {% if user.is_authenticated %}
          <li>
            <a class="nav-content nav-item nav-link" href="{% url 'main:share_exp' %}">Share Stories</a>
          </li>
          <li>
            <a class="nav-content nav-item nav-link" href="{% url 'main:my_stories' %}">My Stories</a>
          </li>
          {% is_moderator user as moderator %}
          {% if moderator %}
          <li class="nav-item dropdown nav-nopadding">
            <a class="nav-link dropdown-toggle nav-content" href="#" id="navbarDropdownMenuLink" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Moderation
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{% url 'main:moderation_list' %}?status=pending">Pending</a>
              <a class="dropdown-item" href="{% url 'main:moderation_list' %}?status=approved">Approved</a>
              <a class="dropdown-item" href="{% url 'main:moderation_list' %}?status=rejected">Rejected</a>
            </div>
          </li>
          {% endif %}
          {% else %}
          <li>
            <a class="nav-content nav-item nav-link" href="{% url 'main:registration' %}">Add Story</a>
          </li>
          {% endif %}

          <li class="nav-item dropdown nav-nopadding">
            <a class="nav-link dropdown-toggle nav-content" href="#" id="navbarDropdownMenuLink" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Learn More
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{% url 'main:what_autism_is' %}">What is Autism</a>
              <a class="dropdown-item" href="{% url 'main:about_us' %}">About Us</a>
              <a class="dropdown-item" href="{% url 'main:code_of_conduct' %}">Code of Conduct</a>
              <a class="dropdown-item" href="{% url 'main:help' %}">Help</a>
            </div>
          </li>
        </ul>



        {% if user.is_authenticated %}
        <ul class="navbar-nav nav-right">
          <li class="nav-item dropdown nav-nopadding">
            <a class="nav-link dropdown-toggle nav-content nav-account" href="#" id="accountDropdownMenuLink" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Account
            </a>
            <div class="dropdown-menu" aria-labelledby="accountDropdownMenuLink">
              <a class="dropdown-item" href="{% url 'users:profile' %}">Profile</a>
              <form class="form-inline nav-nomargin" action="{% url 'main:logout' %}" method="post">
                {% csrf_token %}
                <button class="dropdown-item" type="submit">Log out</button>
              </form>
            </div>
          </li>
        </ul>
        {% elif not page_status == "registration" %}
          <a class="nav-content nav-item nav-link log-link nav-account" href="{{ auth_url }}">Log In</a>
          <a href="{% url 'main:registration' %}" class="nav-content nav-item btn btn-lg btn-light">Register</a>
        {% endif %}
      </div>
    </nav>
</div>
