{% extends 'main/application.html' %}

{% block title %}AutSPACEs - {{title}} {% endblock %}

{% load static %}
{% load custom_tags %}
{% load humanize %}

{% block content %}

{% if first_visit == True %}
<div class="container alert-container">
  <div class="alert alert-info" role="alert">
    Welcome to AutSPACEs!
  </div>
  <div class="alert alert-info" role="alert">
    We&#x27;re super excited to have you here. As this is your first visit,
    please take the time to complete your profile. None of the fields are
    mandatory, so please fill out whatever you&#x27;re comfortable with. You
    can come back here to update your details at any time.
  </div>
</div>
{% endif %}
{% if request_profile == True %}
<div class="container alert-container">
  <div class="alert alert-info" role="alert">
    We&#x27;d love it if you could fill out some of your details. None of the
    fields are mandatory, so please fill out whatever you&#x27;re comfortable
    with. You can come back here to update your details at any time.
  </div>
</div>
{% endif %}

<!-- User Profile Form -->
<section id="user-profile-form">
  <div class="container profile-section">
    <h3><label>Account</label></h3>
    <p/><a href="https://www.openhumans.org/">OpenHumans</a> ID: {{ oh_id }}
    <form action="{% url 'users:profile' %}" class="form-context" method="post">
    {% csrf_token %}
    {% regroup form by field.group as field_groups %}

    {% for group in field_groups %}
      {% if group.grouper == 1 %}
        {% define "User Profile" as header %}
        {% define "Please provide details you are comfortable sharing. All fields are optional." as subheader %}
      {% endif %}
      {% if group.grouper == 2 %}
        {% define "Sensitive topics" as header %}
        {% define "Select the trigger labels that you are comfortable viewing in the story list by default" as subheader %}
      {% endif %}
      {% if group.grouper == 3 %}
        {% define "Communication preferences" as header %}
        {% define "Select the option below if you'd like Open Humans to send you messages." as subheader %}
      {% endif %}
      {% if group.grouper == 4 %}
        {% define "Hidden fields" as header %}
        {% define "These fields are for debugging only and will be removed in the final implementation" as subheader %}
      {% endif %}
      {% if group.grouper != "hidden" %}
      <div class="form-group">
        <h3><label>{{ header }}</label></h3>

        <h5>{{ subheader }}</h5>
        <br/>
        <div class="row">
        {% for field in group.list %}
          {% if group.grouper >= 2 %}
          <div class="form-check col-lg-6">
            <div class="custom-control custom-switch">
              {{ field }}
              <label class="custom-control-label" for="{{ field.auto_id}}">{{ field.label }}</label>
            </div>
          </div>
          {% else %}
          <div class="form-check col-lg-12">
            <p/><label for="{{ field.auto_id}}">{{ field.label }}</label>
            <br/>
            {{ field }}
          </div>
          {% endif %}
        {% endfor %}
        </div>
      </div>
      {% endif %}
    {% endfor %}

      <div class="form-group">
        <button type="submit" class="btn btn-primary" id="submitForm">Submit</button>
      </div>
    </form>
  </div>
</section>

{% endblock %}


