{% extends 'main/application.html' %}
{% load static %}
{% block title %}AutSPACEs - About Us {% endblock %}

{% block body_attributes%} data-spy="scroll" data-target="#content-bar" {% endblock %}

{% block content %}

<script src="{% static 'js/menu-alignment.js' %}"></script>

<!--Contents-->
<section id="content">
  <div class="container-fluid">
    <div class="row">
      <div id="menu-container" class="col-lg-3">
        <div id="content-bar-filler" class="col-lg-3">
        <!-- Space filler to avoid the main text shifting leftwards -->
        </div>
        <div class="list-group col-lg-3 content-list" id="content-bar">
          <h5 class="list-group-item content-title">Contents</h5>
          <a class="list-group-item list-group-item-action  d-flex justify-content-between align-items-center"
             href="#about-autspaces">About AutSPACEs<span class="badge badge-pill"></span></a>
          <a class="list-group-item list-group-item-action  d-flex justify-content-between align-items-center"
             href="#platform-usage">Platform Usage<span class="badge badge-pill"></span></a>
          <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
             href="#explore-autspaces">Explore AutSPACEs<span class="badge badge-pill"></span></a>
          <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
             href="#data-usage">Data Usage<span class="badge badge-pill"></span></a>
          <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
             href="#use-terms">Terms of Use<span class="badge badge-pill"></span></a>
          <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
             href="#our-values">Our Values<span class="badge badge-pill"></span></a>      
        <a
          href="https://docs.google.com/forms/d/e/1FAIpQLSe_9MW3r4nsGUDxGWN24X88hqtz6q_347DC1gbMc_Yzj2Hrcg/viewform?fbzx=6470416391260718913"
          target= "_blank" rel="noopener noreferrer" class="btn btn-primary float-right"style="margin: 10% 0">Contact us
          through Google Form
        </a>
        </div>
      </div>
      <div id="text-container" class="about-content col-lg-9" data-offset="0" style="padding: 2% 8%">
        <div class="about-content-section">
          <h5 class="text-info" id="about-autspaces"><em></em>About AutSPACEs</h5>
          <p>The “Aut” in AutSPACEs refers to Autistic people, and the “SPACEs” is an acronym which refers to exploring
            Sensory Processing for Accessible Community Environments. This captures the aim of AutSPACEs which is to make
            spaces better for autistic people by learning about sensory processing and its impact.</p>

          <p>AutSPACEs is made by and for autistic people, researchers, and allies of autistic people, who think that the
            world would be a much better place if autistic people had more of a say in how public and private spaces are
            used and designed.</p>

          <p>All autistic people are different. We want to collect together lots of stories from autistic people, so that we
            can
            better understand how sensory processsing differences affect the way autistic people navigate the world around
            them. Together, we can use this information to build a better world for autistic people.</p>

          <p>There are three main goals:</p>
          <ul>
            <li>To advise organisations about how they can design and adapt spaces and policies to improve autistic people’s
              lives.
            </li>
            <li>To educate non-autistic people so that they can better support their autistic friends, families, and
              colleagues.
            </li>
            <li>To share autistic people’s stories and tips with other autistic people who have similar experiences, so that
              they
              can learn from each other</p>
          </ul>
        </div>
        <div class="about-content-section">
          <h5 class="text-info" id="platform-usage"><em></em>Platform Usage</h5>
          <h6 class="platform-list-title">1. Register with Open Humans</h6>
          <p>When you register you create a private and anonymous account with Open Humans. We work with Open Humans to
            make sure you have control over your data and that it is safe.</p>
          <p>Open Humans have been working with The Alan Turing Institute to create AutSPACEs. They are a not-for-profit
            organisation designed to help people access and understand their personal data, and to help them do and share
            things that use that data.

            You can find out more about <a href="https://www.openhumans.org/about/" target="_blank" rel="noopener noreferrer">Open Humans</a> on their website.</p>

          <p>We will never sell your data, and we will never share it without your consent.</p>
          <h6 class="platform-list-title">2. Share your story</h6>
          <p>Enter a description of how your senses affect you. For example: “I do not go on trains because they are too
            loud”.</p>
          <h6 class="platform-list-title">3. Choose who can read your story</h6>
          <p>You can choose to share your story publicly, so people using AutSPACEs can learn from it, or privately, for
            research. You can also share both publicly and with researchers if you prefer.</p>
          <h6 class="platform-list-title">4. Story is checked</h6>
          <p>If you want to make your story public, it will first be checked to make sure it follows our code of conduct.
            This is to keep AutSPACEs an autism-first, inclusive and welcoming space for all.</p>
          <h6 class="platform-list-title">5. Change your stories any time</h6>
          <p>You can view your own stories and edit them, or change who they are shared with any time, even once they are
            submitted.</p>
        </div>
        <div class="about-content-section">
          <h5 class="text-info" id="explore-autspaces"><em></em>Explore AutSPACEs</h5>
          <p>You do not need an account to explore AutSPACEs and read other people’s stories.</p>

          <p>If you are autistic, you may find other people who have similar sense experiences to you. You can discover tips
            and recommendations from them.</p>

          <p>If you are not autistic, you may find ways to better support n empathise with autistic people by learning from
            them how their senses affect them.</p>
        </div>
        <div class="about-content-section">
          <h5 class="text-info" id="data-usage"><em></em>Data Usage</h5>
          <p>We will <b>never</b> sell your data or share it with anyone without your consent.</p>

          <p>We believe that your data should belong to you, so it’s your choice what to do with it.</p>

          <p>If you choose to share your story with researchers, your story will be part of a dataset with other people’s
            experiences, and researchers can apply to look at the dataset for the purposes of making the world better for
            autistic people and their families. We will make sure that autistic people are involved in making decisions
            about
            who can look at the data. We have partnered with Open Humans to make sure your data is kept safe and secure. You
            can make this choice by checking the box ‘share with researchers’ when you share a story.</p>

          <p>If you choose to make your experience public, your experience will first be checked over by a moderator to make
            sure
            it follows our [code of conduct](link to code of conduct). We will let you know when a moderator has made a
            decision about your experience. If they decide it does follow our code of conduct, it will be published
            anonymously
            on this website. Anyone will be able to view your story, but your name will be kept private. You can make this
            choice by checking the box ‘share online with everyone’.</p>

          <p>If you choose not to share your experience you can still view it by going to My Stories.</p>

          <p>You can also choose to share with your story with researchers and make make your story public. You can do this
            by
            selecting ‘share with researchers’ and ‘share online with everyone’.</p>

          <p>You can also change your mind at any time by going to My-Experiences and selecting which options you would
            prefer.</p>
        </div>
        <div class="use-terms">
          <h5 class="text-info" id="use-terms"><em></em>Terms of Use</h5>
          <p> The AutSPACEs software itself is released under an open MIT license. This means that the code is freely available to reuse and modify for any purpose, as long as they credit the AutSPACEs community. Importantly, this does not extend to the data provided by AutSPACEs participants.</p>   
          <p> The data we collect for researchers is only available by application, and researchers must commit to following our values to receive approval. We are currently working on a protocol to implement this.</p>
        </div>
          <h5 class="text-info" id="our-values"><em></em>Our Values</h5>
          <p><b>"Nothing About Us Without Us"</b></p>
          <p>We believe that the people who will be affected most by research should have opportunities to make decisions, set the direction, and be involved in the research process throughout.</p>
          <p><b>Allied to autistic people</b></p>
          <p>We believe that the world needs to work for autistic people so that they can flourish as well as function. We share a mission with our original sponsor Autistica for autistic people have happier, healthier, longer lives. Autism research should fundamentally serve autistic people and improve their lives.</p>
          <p><b>Your data your choice</b></p>
          <p>We believe you should have control over how your data is shared and who it is shared with. We will never sell your data</p>
          <p><b>Our Community</b></p>
          <p>This project is a collaboration between Autistica and The Alan Turing Institute. Autistica is a UK-based charity whose mission is to help autistic people and their families have long, healthy, happy lives. The Alan Turing Institute is the UK's National Institute for artificial intelligence and data science. We have partnered with Open Humans Foundation, who have helped us implement their data and consent management system for AutSPACEs.</p>
          <p>At the heart of the community are autistic participants, families, carers, volunteers and open source developers. This is an open project, which anyone is invited to contribute to.</p>
        </div>  
    </div>
  </div>

</section>
  {% endblock %}
