{% extends 'main/application.html' %}
{% load static %}
{% block title %}AutSPACEs - About Us {% endblock %}

{% block page_css%}<link href="{% static '/css/about_us.css' %}" rel="stylesheet">{% endblock %}


  {% block content %}

<!--Contents-->
<section id="content">
  <div class="row mx-0 py-4">
    <div class="list-group col-lg-3 cotent-list" id="content-bar">
      <h5 class="list-group-item content-title">Contents</h5>
      <a class="list-group-item list-group-item-action  d-flex justify-content-between align-items-center"
         href="#about-autspaces">About AutSPACEs<span class="badge badge-pill"></span></a>
      <a class="list-group-item list-group-item-action  d-flex justify-content-between align-items-center"
         href="#platform-usage">Platform Usage<span class="badge badge-pill"></span></a>
      <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
         href="#explore-autspaces">Explore AutSPACEs<span class="badge badge-pill"></span></a>
      <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
         href="#data-usage">Data Usage<span class="badge badge-pill"></span></a>
    <a
      href="https://docs.google.com/forms/d/e/1FAIpQLSe_9MW3r4nsGUDxGWN24X88hqtz6q_347DC1gbMc_Yzj2Hrcg/viewform?fbzx=6470416391260718913"
      target= "_blank" rel="noopener noreferrer" class="btn btn-primary float-right"style="margin: 10% 0">Contact us
      through Google Form
    </a>
    </div>

    <div class="about-content col-9" data-offset="0" data-spy="scroll" data-target="#content-bar"
         style="position: relative; height: 800px;overflow: auto; padding: 2% 8%">
      <div class="about-content-section">
        <h5 class="text-info" id="about-autspaces"><em></em>About AutSPACEs</h5>
        <p>The “Aut” in AutSPACEs refers to Autistic people, and the “SPACEs” is an acronym which refers to exploring
          Sensory Processing for Accessible Community Environments. This captures the aim of AutSPACEs which is to make
          spaces better for autistic people by learning about sensory processing and its impact.</p>

        <p>AutSPACEs is made by and for autistic people, researchers, and allies of autistic people, who think that the
          world would be a much better place if autistic people had more of a say in how public and private spaces are
          used and designed.</p>

        <p>All autistic people are different. We want to collect together lots of stories from autistic people, so that we
          can
          better understand how sensory processsing differences affect the way autistic people navigate the world around
          them. Together, we can use this information to build a better world for autistic people.</p>

        <p>There are three main goals:</p>
        <ul>
          <li>To advise organisations about how they can design and adapt spaces and policies to improve autistic people’s
            lives.
          </li>
          <li>To educate non-autistic people so that they can better support their autistic friends, families, and
            colleagues.
          </li>
          <li>To share autistic people’s stories and tips with other autistic people who have similar experiences, so that
            they
            can learn from each other</p>
        </ul>
      </div>
      <div class="about-content-section">
        <h5 class="text-info" id="platform-usage"><em></em>Platform Usage</h5>
        <h6 class="platform-list-title">1. Register with Open Humans</h6>
        <p>When you register you create a private and anonymous account with Open Humans. We work with Open Humans to
          make sure you have control over your data and that it is safe.</p>
        <p>Open Humans have been working with The Alan Turing Institute to create AutSPACEs. They are a not-for-profit
          organisation designed to help people access and understand their personal data, and to help them do and share
          things that use that data.

          You can find out more about <a href="https://www.openhumans.org/about/" target="_blank" rel="noopener noreferrer">Open Humans</a> on their website.</p>

        <p>We will never sell your data, and we will never share it without your consent.</p>
        <h6 class="platform-list-title">2. Share your story</h6>
        <p>Enter a description of how your senses affect you. For example: “I do not go on trains because they are too
          loud”.</p>
        <h6 class="platform-list-title">3. Choose who can read your story</h6>
        <p>You can choose to share your story publicly, so people using AutSPACEs can learn from it, or privately, for
          research. You can also share both publicly and with researchers if you prefer.</p>
        <h6 class="platform-list-title">4. Story is checked</h6>
        <p>If you want to make your story public, it will first be checked to make sure it follows our code of conduct.
          This is to keep AutSPACEs an autism-first, inclusive and welcoming space for all.</p>
        <h6 class="platform-list-title">5. Change your stories any time</h6>
        <p>You can view your own stories and edit them, or change who they are shared with any time, even once they are
          submitted.</p>
      </div>
      <div class="about-content-section">
        <h5 class="text-info" id="explore-autspaces"><em></em>Explore AutSPACEs</h5>
        <p>You do not need an account to explore AutSPACEs and read other people’s stories.</p>

        <p>If you are autistic, you may find other people who have similar sense experiences to you. You can discover tips
          and recommendations from them.</p>

        <p>If you are not autistic, you may find ways to better support n empathise with autistic people by learning from
          them how their senses affect them.</p>
      </div>
      <div class="about-content-section">
        <h5 class="text-info" id="data-usage"><em></em>Data Usage</h5>
        <p>We will <b>never</b> sell your data or share it with anyone without your consent.</p>

        <p>We believe that your data should belong to you, so it’s your choice what to do with it.</p>

        <p>If you choose to share your story with researchers, your story will be part of a dataset with other people’s
          experiences, and researchers can apply to look at the dataset for the purposes of making the world better for
          autistic people and their families. We will make sure that autistic people are involved in making decisions
          about
          who can look at the data. We have partnered with Open Humans to make sure your data is kept safe and secure. You
          can make this choice by checking the box ‘share with researchers’ when you share a story.</p>

        <p>If you choose to make your experience public, your experience will first be checked over by a moderator to make
          sure
          it follows our [code of conduct](link to code of conduct). We will let you know when a moderator has made a
          decision about your experience. If they decide it does follow our code of conduct, it will be published
          anonymously
          on this website. Anyone will be able to view your story, but your name will be kept private. You can make this
          choice by checking the box ‘share online with everyone’.</p>

        <p>If you choose not to share your experience you can still view it by going to My Stories.</p>

        <p>You can also choose to share with your story with researchers and make make your story public. You can do this
          by
          selecting ‘share with researchers’ and ‘share online with everyone’.</p>

        <p>You can also change your mind at any time by going to My-Experiences and selecting which options you would
          prefer.</p>
      </div>
    </div>
  </div>


</section>
  {% endblock %}
