

<html lang='en'>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}AutSPACEs{% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">

    {% load static %}

    <link href="{% static '/css/navigation_light.css' %}" rel="stylesheet" id="mystylesheet">

    <!-- Page specific CSS -->

    {%block page_css%} {% endblock %}

    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,300&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic" rel="stylesheet" type="text/css">

  </head>

  <body>

    <section id="intro">
    {% include 'main/partials/navigation.html' %}
    </section>

          {% if messages %}

            {% for message in messages %}
            <div class="alert alert-info" role="alert">
            {{ message }}
            </div>
            {% endfor %}

        {% endif %}

        {% block content %}
        {% endblock %}

        <section id="footer">
          {% include 'main/partials/footer.html'%}
        </section>
  </body>
  {% include 'main/partials/jquery.html' %}
</html>
