{% extends 'main/application.html' %}

{% block title %}AutSPACEs - Experience saved! 🎉 {% endblock %}

{% load static %}
{% load custom_tags %}
{% load humanize %}

{% block content %}


<section class="confirmation">
  <div class="confirmation-container">
    <div class="confirm_success">
      <h1 class="big-heading title-text-yellow">
        Success!
      </h1>

      <p class="confirmation-title-text">
        Thank you for sharing your experience.
      </p>
    </div>
 </div>
    <div class="what-now-section">
      <p class="confirmation-section-heading">
        What happens now ?</p>
      <div class="what-now-text">
          <ul>
          <li><p class="text">
           If you chose to share your experience with the world, an autistic moderator
            will check that it follows our code of conduct, and if it does, you will receive a confirmation and your
              experience
            will then be published on this website.
          </p></li>

          <li><p class="text">
            If you chose to share it with researchers, it will be saved into a
            database, and researchers who follow
            our values will be able to use it for their research.
          </p></li>
            </ul>
      </div>
    </div>

    <div class="to-do-container">
      <p class="to-do-heading">
        What would you like to do next ?
      </p>

      <div class="btn-class btn-class-confirmationpage">
        <a href="{% url 'main:share_exp' %}">
          <button class="btn btn-outline-primary btn-lg btn-confirmationpage" type="button">Enter Another Experience</button>
        </a>

        <a href="{% url 'main:my_stories' %}">
          <button class="btn btn-outline-primary btn-lg btn-confirmationpage" type="button">Go To My Stories</button>
        </a>

        <a href="{% url 'main:public_experiences' %}">
          <button class="btn btn-outline-primary btn-lg btn-confirmationpage" type="button">View Other Stories</button>
        </a>

        <a href="{% url 'main:about_us' %}">
          <button class="btn btn-outline-primary btn-lg btn-confirmationpage" type="button">Find Out More About AutSPACEs</button>
        </a>

      </div>
    </div>
  </div>

</section>
</div>

{% endblock %}
