{% extends 'main/application.html' %}
{% load static %}
{% block title %}AutSPACEs - Content guidelines {% endblock %}

{% block body_attributes%}  {% endblock %}

{% block content %}

<script src="{% static 'js/menu-alignment.js' %}"></script>

<!--Contents-->
<section id="content">
  <div class="container-fluid">
    <div class="row">
      <div id="menu-container" class="col-lg-3">
        <div id="content-bar-filler" class="col-lg-3">
        <!-- Space filler to avoid the main text shifting leftwards -->
        </div>
        <div id="content-bar" class="list-group col-lg-3 content-list">
          <div class="list-group-item content-title fw-bold">Contents</div>
          <a class="list-group-item list-group-item-action  d-flex justify-content-between align-items-center"
              href="#code-of-conduct">Content guidelines<span class="badge badge-pill"></span></a>
          <a class="list-group-item list-group-item-action  d-flex justify-content-between align-items-center"
              href="#purpose">What and who AutSPACEs is for<span class="badge badge-pill"></span></a>
          <a class="list-group-item list-group-item-action  d-flex justify-content-between align-items-center"
              href="#acceptable-content">What is and isn't okay to mention<span class="badge badge-pill"></span></a>
          <a class="list-group-item list-group-item-action  d-flex justify-content-between align-items-center"
              href="#writing-for-others">Writing on behalf of others<span class="badge badge-pill"></span></a>
          <a class="list-group-item list-group-item-action  d-flex justify-content-between align-items-center"
              href="#responding-to-others">Responding to others' stories<span class="badge badge-pill"></span></a>
        </div>
      </div>

      <div id="text-container" class="topic-content col-lg-9" 
           style="padding: 2% 8%">
        <div class="code-of-conduct">
          <h5 class="heading-blue" id="code-of-conduct">Content guidelines</h5>

          <p>
            AutSPACEs is an online space which puts autistic people first. 
            We’re committed to providing a safe and welcoming place for autistic people 
            and their supporters to share experiences, knowing their voices will be heard and their contributions recognised.
          </p>

          <p>
            AutSPACEs allows users to share stories publicly with other users as well as privately with researchers. 
            To ensure it is a respectful and welcoming place for autistic people and other members of the community, 
            everyone who wants to share a story publicly will be required to follow our content guidelines.
        </p>
        <p>
          Before a story can be published, it will be reviewed by a moderator to check it adheres to them.
        </p>

        <p>
          These guidelines exist for clarity and fairness, as well as to ensure the values of AutSPACEs are upheld. 
          They were co-written by autistic people, parents and carers of autistic people, 
          and researchers with expertise in creating inclusive online spaces.
        </p>

          <p>
            AutSPACEs’ team leaders, Dr Kirstie Whitaker and Dr Bastian Greshake Tzovaras, 
            are ultimately responsible for enforcing the content guidelines and overseeing the moderation process. 
            Concerns can be reported to them by emailing <a href="mailto:kwhitaker@turing.ac.uk">kwhitaker@turing.ac.uk</a> 
            and <a href="mailto:bgreshaketzovaras@turing.ac.uk">bgreshaketzovaras@turing.ac.uk</a>. 
            These may be reviewed by other members of the team, unless there’s a conflict of interest, and will be kept confidential.  
          </p>
        </div>
        <div class="code-of-conduct">
          <h5 class="heading-blue" id="purpose">What and who AutSPACEs is for</h5>

          <p>
            AutSPACEs’ primary purpose is to gather data about sensory processing and navigating environments, 
            so it can be used to make the world more accessible to autistic people.
          </p>
          <p>
            For a story to be approved by moderators it must be relevant to this. 
            This doesn’t mean you can’t write about other things, as long as they relate to sensory experiences.
          </p>
          <p>
            The data we’re collecting is also for a specific demographic: stories must be about experiences of someone aged 18 
            or over at the time of posting. Stories about the past before the user was 18 are permitted. 
            For instance, an 18-year-old can post about an experience they had when they were 10, 
            but a 10-year-old is not permitted to post. To share stories on AutSPACEs, you must be 18 or over.
          </p>

          <p>
            As this is a data collection platform, users can opt to share their stories publicly and/or with researchers. Further information about how stories will be used by researchers will be available in the future and announced in our newsletter. Only stories posted to be public will be moderated.
          </p>

          <div class="callout">
            <h6 class="guideline-header" id="">What counts as sensory?</h6>
            <div class="card-body">

            <p>
              Autistic people often have senses that are weaker or stronger than those of non-autistic people. 
              This is one of the reasons navigating and coping in the world can be very difficult.
          </p>
          <p>
            Sight, hearing, smell, taste and touch are not the only senses. Others include:
            <ul>
              <li>The sense of your body, its movement and position, known as proprioception;</li>
              <li>The sense of balance, or equilibrioception;</li>
              <li>The perception of pain, or nociception;</li>
              <li>The perception of hot and cold, or thermoception;</li>
              <li>The sense of time passing, or chromoception.</li>
            </ul>
          </p>
            </div>
          </div>
        </div>

        <div class="code-of-conduct">
          <h5 class="heading-blue" id="acceptable-content">What is and isn't okay to mention</h5>

            <p>
              AutSPACEs is designed to be a welcoming and safe place for all autistic people to share and read about experiences. 
              To ensure this, we’ve created <span class="word-red">Red</span> (unacceptable) and <span
            class="word-amber">Amber</span> (potentially triggering) list of words and topics.
            </p>

            <p>
              The <span class="word-red">Red</span> (unacceptable) category exists to make sure we 
              don’t publish stories that contravene our values of mutual respect, diversity and inclusion, 
              or that cause a risk to the person posting or reading the experience.
            </p>


            <p>
              Examples of <span class="word-red">Red</span> content include direct or indirect attacks on 
              people for being autistic, referring to autism as a dysfunction, 
              or using an offensive or prejudicial term to describe someone.
            </p>

            <p>
              Explicitly <a name="identity">mentioning someone’s identity or 
                sensitive data is also in the <span class="word-red">Red</span> category</a>. 
                This includes:
          </p>

            <div class="callout callout-red">
              <ul>
                <li>A person’s first name and/or surname;</li>
                <li>Contact details such as address, phone number, school, email address or workplace;</li>
                <li>Anything that could distinguish them from others, such as hair colour or skin tone.</li>
              </ul>
            </div>

            <p>
              The <span class="word-amber">Amber</span> (potentially triggering) list is to help users identify 
              stories they may find distressing, 
              so they can choose whether or not to read them. While some people may be sensitive to them, 
              it’s important these experiences are available and that users are free to express themselves.
            </p>
            <p>
              Content marked <span class="word-amber">Amber</span> might include an account of bullying, 
              a traumatic home environment, or descriptions of verbal abuse a user has experienced.
            </p>
            <p>Stories that include <span class="word-red">Red</span> content will not be approved by moderators 
              so will not be visible to other site users. 
              Those regarded as <span class="word-amber">Amber</span> 
              will be approved but may be labelled as ‘triggering’ when posted.
            </p>

            <p>
              <a name="discriminatory">
                Any story that discriminates against or belittles anyone based on these categories will be regarded as <span
            class="word-red">Red</span>.
              </a>
            </p>

            <div class="callout callout-red">
              <ul>
                <li>Neurodivergence</li>
                <li>Gender identity and/or expression</li>
                <li>Sexual orientation</li>
                <li>Disability and/or health</li>
                <li>Physical appearance (such as skin colour, body size, etc)</li>
                <li>Nationality, citizenship, ethnic, or social origin</li>
                <li>Religion/belief (or lack thereof)</li>
                <li>Pregnancy and/or familial status</li>
                <li>Veteran status</li>
                <li>Genetic information</li>
                <li>Property and/or socio-economic status</li>
                <li>Technical preferences</li>
                <li>Experience and/or education level</li>
              </ul>
            </div>

            <p>
              <a name="racial-slurs">All racial slurs will be considered <span
            class="word-red">Red</span> whether direct or indirect comments.</a> 
            </p>

            <p><a name="triggering">Topics rated <span class="word-amber">Amber</span> because they may be triggering include:</a></p>

            <div class="callout callout-amber">
              <ul>
                <li>Abuse (physical, sexual, emotional and verbal)</li>
                <li>Violence and assault</li>
                <li>Drug and/or alcohol misuse</li>
                <li>Mental health issues</li>
                <li>Negative body image</li>
              </ul>
            </div>
            <p>
              <a name="swear-words">Swear words and disability slurs will
              also be rated <span class="word-amber">Amber</span>.</a>
            </p>
        </div>

        <div class="code-of-conduct">
          <h5 class="heading-blue" id="writing-for-others">Writing on behalf of others</h5>

          <p>
            AutSPACEs is a place where autistic people can share stories. 
            However, some autistic people will need support to do this or may require others to share on their behalf.
          </p>
          <p>
            If you’re sharing on behalf of someone else, all the rules explained above apply and anything that 
            breaks them won’t be published for others to see.
          </p>
          <p>
            Here are some questions to think about before sharing a story that isn’t your own, 
            to ensure it’s respectful, appropriate and representative.
          </p>

          <h6 class="guideline-header" id="can-they-share-with-support">Could the person share their own story with support?</h6>

          <p>
            If they could, please support them to do this, rather than writing on their behalf. 
            For instance, if they can speak but not write, it’s better to allow them to dictate, 
            and to write what they say as accurately as possible, rather than write your own version of their story.
          </p>
          <p>
            It’s also a good idea to show what you plan to share to the person you’re writing for. 
            Try to find out if it reflects their experience and, if necessary, change it to make it better.
          </p>

          <h6 class="guideline-header" id="have-they-consented">Do they consent to you writing on their behalf?</h6>

          <p>
            If so, that’s great. If they don’t give their consent, don’t share their story, even if you think it would 
            benefit them. If they aren’t able to meaningfully consent, please share only if you think it’s in their best interests.
          </p>

          <h6 class="guideline-header" id="are-you-the-right-person">Are you the right person to share this story?</h6>

          <p>
            If someone else has a closer personal connection to the person who owns the story, 
            or is better qualified to tell it, consider asking them to do it. 
            If you are the right person to tell the story, you might want to share your version 
            with others who know the owner well, so they can help make it more accurate.
          </p>

          <h6 class="guideline-header" id="are-you-making-assumptions">Are you making assumptions or inferences?</h6>

          <p>
            It’s natural to think we know what’s going on in other people’s minds. 
            Sometimes we can talk about this as fact without realising it’s actually our inference. 
            It’s better to tell only what you observed about the person you’re writing on behalf of and 
            not make assumptions about their thoughts or feelings.
          </p>

          <p>
            For example, instead of writing, <i>‘My autistic daughter was stressed because the train was loud,’</i> 
            you could say, <i>‘My autistic daughter shouted and covered her ears when a train passed her loudly. This happens frequently.’</i>
          </p>

          <p>
            The aim of sharing on behalf of someone else should be autistic people’s wellbeing.
          </p>

          <h6 class="guideline-header" id="are-you-adding-subjective-detail">Are you adding subjective or personal details?</h6>

          <p>
            It’s better to write neutrally about the things you’re observing. Focus on the story of the autistic person 
            you’re sharing for. Don’t focus on your own experiences or those of other people, 
            except when they’re relevant to the autistic person’s story. In particular, 
            don’t use this space for venting or complaining about autistic people.
          </p>

          <p>For example, don’t write, 
            <i>‘I hate when my autistic son makes a scene in the supermarket. It’s so embarrassing.’</i> 
            Instead, you could say, 
          <i>‘My autistic son cried and stood still in a busy supermarket. 
            Some people around us showed negative expressions and body language while this happened. 
            This usually occurs when we go to the supermarket.’</i>
          </p>
        </div>

        <div class="code-of-conduct">
          <h5 class="heading-blue" id="responding-to-others">Responding to others’ stories</h5>

          <p>
            AutSPACEs is designed to be a safe space where people can share stories without fear of 
            receiving negative or upsetting responses. To maintain this safety, there is no comment section. 
            Stories posted as a direct response to another story will not be approved. 
            However, as AutSPACEs is an anonymous platform, it is permissible to discuss stories published on it on other sites.
          </p>
        </div>

      </div>
    </div>
  </div>

</section>

{%endblock%}
