{% extends 'main/application.html' %}

{% block title %}AutSPACEs - Delete experience {% endblock %}

{% load static %}
{% load custom_tags %}
{% load humanize %}

{% block content %}


<section class="confirmation">
  <div class="confirmation-container">
    <div class="confirm_success">
      <h1 class="title-text-yellow big-heading ">
        Are you sure?
      </h1>
      <p class="confirmation-title-text">
        You are about to delete the experience: {{title|unquote_html}}.
      </p>
    </div>


    <div class="row mx-0 py-4 justify-content-start">
      <div class="col-2">
            <form action="{% url 'main:delete_exp' uuid title %}" method="post">{% csrf_token %}
              <button type="submit" class="btn btn-danger btn-lg">Yes, Delete</button>
            </form>
      </div>
      <div class="col-2">
        <a href="{% url 'main:my_stories' %}" class="btn btn-outline-primary btn-lg">
          No, take me back
        </a>
      </div>
    </div>
  </div>
</section>

{% endblock %}
