
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>View Experiences</title>
    <style>
        body {
            background: #E8F3FC;
        }
        .my-custom-card{
            background:#C4C4C4;
			

        }
        .goals{
            background:#EBF1F5;
        
        }
        .navbar{
            background: rgba(149, 239, 234, 0.42);

        }
		form{
            text-align: center;
            font-size: x-large;
        }
		.mysmallCcards{
			background: #00B2FF;
			
		}

        
    </style>
</head>

<body>
    <nav class="navbar navbar-expand">
        <a class="navbar-brand" href="#">
            <img src="autistic.png" width="65" height="35" alt="">
            <img src="alanturing.png" width="75" height="35" alt="">
        </a>
        <ul class="navbar-nav ">
            <li class="nav-item">
              <a class="nav-link text-dark" href="{% url 'main:overview' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="{% url 'main:view_experiences' %}">View Experiences</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link text-dark" href="{% url 'main:moderate_public_experiences' %}">Moderate Experiences</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark" href="{% url 'main:upload' %}">Share Experiences</a>
              </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="{% url 'main:my_stories' %}">My Stories</a>
              </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="{% url 'main:logout' %}">Logout</a>
            </li>
            {% endif %}
          </ul>
    </nav>
        <div class="container">
           
            <div class="row">
                <div class="col-sm-12" style="text-align: center; padding:3%">
                    <h1>Explore</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10 offset-sm-1 text-center">
                    <h4> Here you can view the experiences and suggestions of other people
                    </h4>
                </div>
    
            </div>
            <br><br>
			<div class="container">
				<form class="col-lg-8 offset-lg-2">
					<div class="row justify-content-center">
						<div class="form-group col-lg-12">
							<input class="form-control input-lg" type="text" placeholder="Search"/>
						</div>
					</div>
				</form>
                
            </div>
            <br><br><br>
			
            <div class="row">
                <div class="col-sm-10 offset-sm-1 text-center">
                    <h4>Autistic people often have different sensory processing to people who are not autistic.
                        By collecting together lots of autistic people’s experiences, we can change spaces so that they are better for autistic people. 
                    </h4>
                </div>
            </div>
            <br><br>
            <div class="row my-custom-card">
                <div class="col-sm-12 ">
                    <div class="card goals">
                        <div class="card-body">
							<div class="row">
								<div class="col-2 col-sm-2 offset-sm-1">
									<h3 class="card-text h3">DATE</h3>
								</div>
								<div class="col-2 col-sm-4">
									<h3 class="card-text">PERSON'S <br/> AUTISM </br> CONNECTION </h3>
								</div>
							</div>
							<br>
							
                        </div>
        
                    </div>
					<br>
					<div class="row">
						<div class="row-sm-2 offset-lg-1 " style="width: 167px;height: 91px;background: #299C57"></div>
						<div class="row-sm-2 offset-sm-1 " style="width: 167px; height: 91px;background: #DD2424"></div>
					</div>
					<br><br><br>
                    {% for i in experiences %}
					<div class="card mysmallCcards">
							<div class="card mysmallCcards">
								<div class="row">
									<div class="col align-self-center">
										<h3 style="text-align: center">{{i.created_at}}</h3>
									</div>
									<div class ="col align-self-center">
										<h3> Researcher</h3>
									</div>
									<div class ="col align-self-center ">
										<p>
                                           {{i.experience_text}}
                                           
                                        </p>
									</div>
								</div>
                                <br>    
							</div>
					</div>
                    {% endfor %}	
                </div>
                
            </div>

            
		</div>
					
				
    <br><br><br>

    
        </div>
        <br><br>
    
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>

</html>

{% endblock %}
