{% extends 'main/application.html' %}

{% block title %}AutSPACEs - Public Experiences {% endblock %}

{% load static %}
{% load custom_tags %}
{% load humanize %}

{% block content %}


<div class="experience-intro">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-left">
        <h1 class="big-heading">Shared Stories - Reversed options</h1>
      </div>
      <div class="col-lg-12 text-left">
        <p class="intro-text">Autistic people often have different sensory processing to people who are not autistic.
          By collecting together lots of autistic people’s experiences, we can change spaces so that they are
          better for autistic people.
        </p>
      </div>
    </div>
  </div>
</div>

<section id="hd-section">
  <div class="container search">
    <form id=search-form method="GET" action="{% url 'main:public_experiences_reverse' %}">
      <div class="form-row align-items-center" style="left: 0px">
        <div class="col-lg-10">
          <label class="sr-only" for="inlineFormInput">Name</label>
            <input class="form-control mb-2" id="inlineFormInput" placeholder="Search Stories" value="{{ searched }}" type="text" name="searched">
        </div>
        <div class="col-auto">
          <button class="btn btn-primary mb-2" type="submit">Search Stories</button>
        </div>
      </div>
    <div>
      <div class="trigger-warning-message"> The page below contains stories that may contain triggering content. Please select the triggers that you <b>do not</b> want to see</div>
      </div>
      <div class="form-check mb-2">
        <div class="custom-control custom-switch">
        {% if checkall %}
        <input class="custom-control-input" type="checkbox" id="all-checkbox" name="all_triggers" value="True" checked>
        {% else %}
        <input class="custom-control-input" type="checkbox" id="all-checkbox" name="all_triggers" value="True">
        {% endif %}
        <label class="custom-control-label" for="all-checkbox">Allow all triggering content</label>
      </div>
        <div class="custom-control custom-control custom-switch">
          {% if checkabuse %}
            <input class="custom-control-input" type="checkbox" id="abuse-checkbox" name="abuse" value="True" checked>
          {% else %}
            <input class="custom-control-input" type="checkbox" id="abuse-checkbox" name="abuse" value="True">
          {% endif %}
          <label class="custom-control-label" for="abuse-checkbox">Abuse (physical, sexual, emotional and verbal)</label>
        </div>
        <div class="custom-control custom-control custom-switch">
          {% if checkdrug %}
            <input class="custom-control-input" type="checkbox" id="drug-checkbox" name="drug" value="True" checked>
          {% else %}
            <input class="custom-control-input" type="checkbox" id="drug-checkbox" name="drug" value="True">
          {% endif %}
          <label class="custom-control-label" for="drug-checkbox">Drug and/or Alcohol misuse</label>
        </div>
        <div class="custom-control custom-control custom-switch">
          {% if checknegbody %}
            <input class="custom-control-input" type="checkbox" id="negbody-checkbox" name="negbody" value="True" checked>
          {% else %}
            <input class="custom-control-input" type="checkbox" id="negbody-checkbox" name="negbody" value="True">
          {% endif %}
          <label class="custom-control-label" for="negbody-checkbox">Negative body image</label>
        </div>
        <div class="custom-control custom-control custom-switch">
          {% if checkviolence %}
          <input class="custom-control-input" type="checkbox" id="violence-checkbox" name="violence" value="True" checked>
          {% else %}
          <input class="custom-control-input" type="checkbox" id="violence-checkbox" name="violence" value="True">
          {% endif %}
          <label class="custom-control-label" for="violence-checkbox">Violence and Assault</label>
        </div>
        <div class="custom-control custom-control custom-switch">
          {% if checkmentalhealth %}
            <input class="custom-control-input" type="checkbox" id="mentalhealth-checkbox" name="mentalhealth" value="True" checked>
          {% else %}
            <input class="custom-control-input" type="checkbox" id="mentalhealth-checkbox" name="mentalhealth" value="True">
          {% endif %}
          <label class="custom-control-label" for="mentalhealth-checkbox">Mental Health Issues</label>
        </div>
        <div class="custom-control custom-control custom-switch">
          {% if checkother %}
            <input class="custom-control-input" type="checkbox" id="other-checkbox" name="other" value="True" checked>
          {% else %}
            <input class="custom-control-input" type="checkbox" id="other-checkbox" name="other" value="True">
          {% endif %}
          <label class="custom-control-label" for="other-checkbox">Other</label>
        </div>
      </div>

    </form>
  </div>
  {% if searched %}
    <div class="container-fluidr story-text">
    <p class="story-header">Search results for '{{ searched }}'</p>
    </div>
  {% endif %}
</section>


<section id="stories-post">
  <div class="container-fluidr story-text">
    {% for experience in experiences %}
    <div class="row">
      <div class="col-lg-12 story">
        <div class="card w-100">
          <div class="card-body story">
            <h5 class="card-title story-header">{{ forloop.counter }}. {% firstof experience.title_text "no title given" %}
              {% if experience.abuse or experience.violence or experience.drug or experience.mentalhealth or experience.negbody or experience.other %}
                <span class="badge badge-warning float-right" style="font-size: 1rem; margin-top:2%">Includes triggering contents</span>
              {% endif %}
            </h5>
              <p class="card-text">{% firstof experience.experience_text|truncatechars:100 "no experience text given" %}</p>
              <em>AutSPACEs Contributor</em>
              <a
              class="btn btn-primary collapsed float-right"
              data-toggle="collapse"
              href="#exp{{ experience.experience_id }}"
              aria-expanded="false"
              aria-controls="exp{{ experience.experience_id }}"
              style="text-align: right">
              Read Full Story
              </a>
          </div>
          <div
          class="collapse"
          id="exp{{ experience.experience_id }}">
          <h4 class="story-card-title">Full Story</h4>
          <p class="story-card-text">{% firstof experience.experience_text "no experience text given" %} </p>
          <h4 class="story-card-title">Recommendation</h4>
          <p class="story-card-text">{% firstof experience.difference_text "no recommendation text given" %} </p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% if not experiences %}
      <div class="no-stories-message text-center">There are no stories that match the criteria.</div>
    {% endif %}
  </div>
</section>

<script src="{% static 'js/shared-stories-filtering.js' %}"></script>
{% endblock %}
