<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

  <!-- Bootstrap CSS -->
  <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">

  <!--Google Fonts-->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic" rel="stylesheet" type="text/css">

  <title>View Experiences</title>
</head>

<body>
<section id="title">
  {% include 'main/partials/navigation.html' %}
  <div class="container-fluid">
  {% block content %}

  </div>
</section>

<div class="container">

  <div class="row">
    <div class="col-sm-12" style="text-align: center; padding:3%">
      <h1>Explore</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10 offset-sm-1 text-center">
      <h4> Here you can view the experiences and suggestions of other people
      </h4>
    </div>

  </div>
  <br><br>
  <div class="container">
    <form class="col-lg-8 offset-lg-2">
      <div class="row justify-content-center">
        <div class="form-group col-lg-12">
          <input class="form-control input-lg" placeholder="Search" type="text"/>
        </div>
      </div>
    </form>

  </div>
  <br><br><br>

  <div class="row">
    <div class="col-sm-10 offset-sm-1 text-center">
      <h4>Autistic people often have different sensory processing to people who are not autistic.
        By collecting together lots of autistic people’s experiences, we can change spaces so that they are
        better for autistic people.
      </h4>
    </div>
  </div>
  <br><br>

  <table class="table table-bordered table-striped table-hover">
  <thead class="bg-primary" style="color: #ffffff; font-size: large;">
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Experience</th>
      <th scope="col">Suggestion</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
    </tr>
  </tbody>
</table>

  <div class="row my-custom-card">
    <div class="col-sm-12 ">
      <div class="card goals">
        <div class="card-body">
          <div class="row">
            <div class="col-2 col-sm-1s">
              <h3 class="card-text h3">Date</h3>
            </div>
            <div class="col-2 col-sm-2">
              <h3 class="card-text">Connection</h3>
            </div>
            <div class="col-2 col-sm-3">
              <h3 class="card-text">Shared Experiences</h3>
            </div>
            <div class="col-2 col-sm-4">
              <h3 class="card-text">Suggestions for better experience</h3>
          </div>
          <br>

        </div>

      </div>
      <br>
      <div class="row">
        <div class="row-sm-2 offset-lg-1 " style="width: 167px;height: 91px;background: #299C57"></div>
        <div class="row-sm-2 offset-sm-1 " style="width: 167px; height: 91px;background: #DD2424"></div>
      </div>
      <br><br><br>
      {% for experience in experiences %}
      <div class="card mysmallCcards">
        <div class="card mysmallCcards">
          <div class="row">
            <div class="col align-self-center">
              <h3 style="text-align: center">{{experience.created_at}}</h3>
            </div>
            <div class="col align-self-center">
              <h3> Researcher</h3>
            </div>
            <div class="col align-self-center ">
              <p>
                {{experience.experience_text}}

              </p>
            </div>
          </div>
          <br>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>

</div>

<br><br><br>

</div>

<!-- Footer-->
<footer id="footer">
  {% include 'main/partials/footer.html' %}
  <div class="row">

  {% endblock %}
  </div>

</footer>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
{% include 'main/partials/jquery.html' %}

</body>

</html>
