{% extends 'main/application.html' %}
{% load static %}
{% block title %}AutSPACEs - Help {% endblock %}

{% block body_attributes%} data-spy="scroll" data-target="#content-bar" {% endblock %}

{% block content %}

<!--Contents-->
<section id="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-3">
        <div class="list-group col-lg-3 cotent-list" id="content-bar">
          <h5 class="list-group-item content-title">Contents</h5>
          <a class="list-group-item list-group-item-action  d-flex justify-content-between align-items-center"
            href="#sharing-stories">Sharing Stories on AutSPACEs<span class="badge badge-pill"></span></a>
          <a class="list-group-item list-group-item-action  d-flex justify-content-between align-items-center"
            href="#moderating-autspaces">Moderating AutSPACEs<span class="badge badge-pill"></span></a> 
          </div>
      </div>

      <div class="topic-content col-9" data-offset="0" data-target="#content-bar" style="padding: 2% 8%">
        <div class="faq-class">
          <h5 class="text-info" id="sharing-stories">What Stories Should I Share On AutSPACEs?</h5>
          <p>
            AutSPACEs is a website to collect stories about how autistic people’s sensory processing affects us in our daily
            lives. Please share any experiences you have had where your senses have affected you, or tell us about how you
            feel in different places. For instance, you could tell us about an office which is too bright, a train station
            which is confusing, or a walk which you found calming.
          </p>
          <p>
            If you have any solutions, strategies, recommendations or tips which makes or would have made your experience
            better please also share them. For instance, ‘there should be more arrows to show which way to go’, or
            ‘noise-canceling headphones help to make train journeys more comfortable’.
          </p>
          <p>
            Please follow our Code of Conduct
          </p>
          <p><a class="col-lg-12" href="{% url 'main:code_of_conduct' %}">
              <button class="btn btn-outline-dark float-right" type="button">Read the code of conduct</button></a></p>
        </div>
        <div class="faq-class">
          <h5 class="text-info" id="who-can-share">Who Can Share Stories On AutSPACEs?</h5>
          <p>Anyone can share stories on AutSPACEs. You do not have to be autistic to share stories on AutSPACEs, but we
            are looking for stories to help understand autism and sensory processing, and to make spaces better for
            autistic people.
          </p>
          <p>You can help an autistic person to share experiences or share stories about someone who is unable to do so
            themselves as long as you follow our code of conduct and guidelines.</p>
          <p><a class="col-lg-12" href="{% url 'main:code_of_conduct' %}">
              <button class="btn btn-outline-dark float-right" type="button">Read the code of conduct</button>
            </a></p>
        </div>
        <div class="faq-class">
          <h5 class="text-info" id="what-happens-to-stories">What Happens To The Stories I Share On AutSPACEs?
          </h5>
          <p>You can decide who can see any story you share on AutSPACEs. You have four options. </p>

          <p>
          <ol>
            <li><b>Keep the story private</b> If you keep the story private, we will hold it securely in a database (via
              Open Humans) and won’t share it with anyone else. You will be able to view it when you login to your account.
            </li>

            <li><b>Share the story with researchers</b> If you choose to share the story with researchers, we will hold it
              securely in a database. We will share it with researchers who have applied to access the AutSPACEs data. We
              will only allow researchers to access the data if they are accepted by a panel and if they agree to our terms
              and values.
            </li>

            <li><b>Share the story publicly</b> If you choose to share the story publicly, we will hold it securely in a
              database. We will first check it to make sure it follows our Code of Conduct. If we decide to publish it,
              you will get a notification on your account and it will be posted publicly on the AutSPACEs website. If it
              includes potentially upsetting or triggering content, it will be published with a trigger warning.
              Anyone will be able to read the story. If we decide not to publish it, you will get a notification on your
              account. Please be aware we cannot control who will read the story once it is published online.</li>

            <li><b>Share with researchers and publicly</b></li>
          </ol>
          </p>

          <p>We will never sell your data, or share your stories with anyone without your permission.</p>

          <p><a class="col-lg-12" href="{% url 'main:code_of_conduct' %}">
              <button class="btn btn-outline-dark float-right" type="button">Read the code of conduct</button>
            </a></p>

        </div>
        <div class="faq-class">
          <h5 class="text-info" id="how-to-decide">How Do You Decide Which Stories To Publish On The AutSPACEs
            Website?</h5>
          <p>We publish all stories that follow our Code of Conduct and that we have permission from the writer of
            the story to share publicly.</p>
          <p><a class="col-lg-12" href="{% url 'main:code_of_conduct' %}">
              <button class="btn btn-outline-dark float-right" type="button">Read the code of conduct</button>
            </a></p>
        </div>
        <div class="faq-class">
          <h5 class="text-info" id="what-if-not-accepted">What Can I Do If I Want My Story To Be Published But
            It Wasn’t Accepted?</h5>
          <p>You can change your story and submit it again. Please make sure your story follows our Code of Conduct</p>
          <p><a class="col-lg-12" href="{% url 'main:code_of_conduct' %}">
              <button class="btn btn-outline-dark float-right" type="button">Read the code of conduct</button>
            </a></p>
        </div>
        <div class="faq-class">
          <h5 class="text-info" id="what-if-change-mind">What If I Change My Mind About My Story?</h5>
          <p>If you change your mind about who you want to see your story, you can go to the story on your account and
            change your sharing permissions.</p>
          <p>If you no longer want to share it with researchers, we will not share it with any further researchers,
            and we will notify existing researchers to remove it from their data.
            <br>It may not always be possible to remove your story from the data, for instance if a paper has already
            been published using the data.
          </p>
          <p>If you no longer want it to be shared publicly, it will be immediately removed from the website. You can
            change your sharing permissions at any time by logging into your account.</p>
          <p>If you change your mind about what you want to include in your story, you can edit it and submit it again.
            It will be immediately changed in the database. We will need to check it again to make sure it follows our code
            of conduct before we publish it. You can edit your story anytime by logging into your account.</p>
          <p>You can also delete your story at any time and it will be immediately removed from the website and the
            database. You can delete your story at any time by logging into your account.</p>
        </div>
        <div class="faq-class">
          <h5 class="text-info" id="share-someone-else">Can I Share A Story About Someone Else?</h5>
          <p>Yes, but please be respectful when you share someone else’s story. You are welcome to help someone else to
            use the platform. For example, you can help someone to put their story into writing if they are unable to do it
            themselves, or if they find it hard to do without help. Please ask for their permission and check they are happy
            with what you have written if they are able to do so.</p>
          <p>We want to include as many people as possible, so you can also share a story about someone else if they
            cannot do so for themselves and they cannot give explicit permission. In that case, please keep the story as
            neutral as possible, and make observations instead of assumptions or inferences. Please read and follow our
            guidelines on sharing stories about someone else. AutSPACEs is not a place to complain, rant or vent about
            autistic people. It exists to understand autistic people better and to promote our wellbeing.</p>
          <p><a class="col-lg-12" href="{% url 'main:code_of_conduct' %}">
              <button class="btn btn-outline-dark float-right" type="button">Read the code of conduct</button>
            </a></p>
        </div>
        <div class="faq-class">
          <h5 class="text-info" id="share-someone-else">What's the Process for Sharing a Story?</h5>
          <p>To share an experience on AutSPACEs, please go to the <a href="{% url 'main:share_exp' %}">Share Stories
          page</a> when you are logged in and write in the text box about any time you have been effected by your senses.
            Then you can submit your experience for research or to share publicly on our website. The flow chart below shows
            the steps you can take to share an experience on AutSPACEs.</p>
          <p><img src="{% static '/images/submit-experience.svg' %}" class="mx-auto d-block" alt="Flow chart showing the
            process for submitting a story"/></p>
        </div>
        <div class="faq-class">
          <h5 class="text-info" id="moderating-autspaces">What does being an AutSPACEs moderator involve?</h5>
          <p>Thank you for your interest in becoming a moderator for AutSPACEs. This is a hugely important and valuable role. As a moderator you will have a direct impact on the experiences of people using the AutSPACEs platform. You can help ensure that AutSPACEs is a welcoming and inclusive space where autistic people can be heard.</p>
          </p>
        </div>
        <div class="faq-class">
          <h5 class="text-info" id="moderation-benefits">What are the benefits of being an AutSPACEs moderator?</h5>
          <p>There are many benefits to being a moderator for AutSPACEs</p>  
          <p>1. Helping the autism community</p> 
          <p> Moderation is absolutely essential to creating a welcoming and inclusive space for autistic people and their supporters online. Unfortunately, autistic people are more likely to encounter problems such as bullying and harassment online which may make their experience negative or prevent them from benefiting from online communities. At AutSPACEs we want to change that by creating a friendly, safe, autistic-voice-first space which diverse autistic people can trust. As a moderator, you can support other autistic people and their allies by making sure that when they come to AutSPACEs they are protected and can feel comfortable sharing their experiences.</p> 
          </p>
          <p>2. Having power</p> 
          </p>
          <p>As an AutSPACEs moderator, you have a direct say in what gets published. You can also influence the way the platform is run and the values that it upholds. We want you to have power and control over AutSPACEs, because it is your space and exists to support you. If you are frustrated about how autistic people are treated or spoken about online, by becoming an AutSPACEs moderator you can take direct action to change that and create a different space.
          </p>
          <p>3. Gaining skills</p>
          <p>Moderation skills are hugely valuable. As a moderator for AutSPACEs you will gain specific skills and understanding about what to look for when you moderate online posts, and how to assess them using a code of conduct. Reading others’ experiences will also broaden your perspective and you will be able to develop your empathy and awareness.</p>
          <p>4. Flexibility </p>
          <p>As a moderator, the amount of time you want to put in is up to you. You will not be required to moderate for any set number of hours, and you can stop at any time if you do not wish to continue. It is an entirely flexible volunteering role which you can do from the comfort of your own home. </p>
        </div>
        <h5 class="text-info" id="moderation-risks">What are the risks of being an AutSPACEs moderator?</h5>
        <p>As an AutSPACEs moderator, you will be in a position to shield others from potentially upsetting, triggering, explicit or abusive content. This means you will have to be prepared to read that content. Please therefore only apply to become an AutSPACEs moderator if you are psychologically robust and prepared to encounter such content</p>
        <p>If you find that you are distressed, concerned, or negatively affected in any way by your experiences as a moderator, please reach out to a member of the moderator team and we will support you.</p>
      </div>
    </div>
  </div>

</section>

{%endblock%}