{% extends 'main/application.html' %}
{% load static %}
{% block title %}AutSPACEs - Help {% endblock %}

{% block body_attributes%} {% endblock %}

{% block content %}

<script src="{% static 'js/menu-alignment.js' %}"></script>

<!--Contents-->
<section id="content">
  <div class="container-fluid">
    <div class="row">
      <div id="menu-container" class="col-lg-3">
        <div id="content-bar-filler" class="col-lg-3">
        <!-- Space filler to avoid the main text shifting leftwards -->
        </div>
        <div id="content-bar" class="list-group col-lg-3 content-list">
          <div class="list-group-item content-title fw-bold">Contents</div>
          <a class="list-group-item list-group-item-action  d-flex justify-content-between align-items-center"
            href="#public-pilot">The AutSPACEs public pilot<empublic pilot></em><span class="badge badge-pill"></span></a>
          <a class="list-group-item list-group-item-action  d-flex justify-content-between align-items-center"
            href="#sharing-stories">Sharing stories on AutSPACEs<span class="badge badge-pill"></span></a>
          <a class="list-group-item list-group-item-action  d-flex justify-content-between align-items-center"
            href="#moderating-autspaces">Moderating AutSPACEs<span class="badge badge-pill"></span></a>
          </div>
      </div>

      <div id="text-container" class="topic-content col-lg-9"  style="padding: 2% 8%">
        <div class="faq-class">
          <h2 class="heading-blue" id="public-pilot">About the <i><strong>public pilot</strong></i></h2>
          <p>
            <h3>What does Public pilot mean?</h3>
            This version of the AutSPACEs website is a public ‘beta’ test of our current prototype, 
            to help us better understand how people will use the site and identify potential issues and ways to improve it. 
            We also want to use this pilot phase to understand how to expand the lifespan of this project in the future, 
            and would love to hear your feedback on this.  
          </p>
          <p>
            You will be able to log in and add your sensory processing stories <strong>until September 30, 2024</strong>. 
            After that, we will disable the log-in function and the ability to add stories.
          </p>
          <h3>What happens to AutSPACEs and any data/stories after the public pilot??</h3>
          <p>
            We aim to preserve a read-only version of this website 
            – including all published experiences that have passed moderation – 
            online for at least another year, to ensure others can read the public experiences and learn from them. 
            Each participant will also keep a copy of all their experiences (public and private) in 
            their <a href="https:/www.openhumans.org">Open Humans account</a>. 
            When AutSPACEs relaunches at some point in the future, you will be able to reimport these experiences. 
          </p>
          <p>
            For security and privacy reasons, we will also delete all of your Open Humans credentials from our servers 
            at the Turing Institute once our public pilot goes into read-only mode. 
            In practice this means that once the platform becomes read-only, 
            you do not have to worry that AutSPACEs accesses or modifies any of your data going forward.
          </p>
        </div>

        <div class="faq-class">
          <h2 class="heading-blue" id="sharing-stories">What stories should I share?</h2>
          <p>
            AutSPACEs was created to collect stories about how autistic people’s sensory processing affects daily life. 
            Please share any experiences you’ve had where your senses affected you, 
            or tell us about how you feel in different places. For instance, you might want to share about an 
            office that’s too bright, a train station that’s confusing, or a walk you found calming.
          </p>
          <p>
            If you have solutions, strategies, recommendations or tips to make your experience – or similar ones – better, 
            please share them too. For instance, you might want to say, 
            ‘There should be more arrows to show which way to go,’ or, 
            ‘Noise-cancelling headphones help to make train journeys more comfortable.’
          </p>
          <p>
            Whatever you decide to share, please follow our content guidelines
          </p>

          <p>
            <div class="row ">
              <div class="col">
                <a class="btn btn-outline-primary float-end"
                  href="{% url 'main:content_moderation_guidelines' %}" rel="noopener noreferrer">
                  Content guidelines
                </a>
              </div>
            </div>
          </p>

        </div>
        <div class="faq-class">
          <h2 class="heading-blue" id="who-can-share">Who can share stories on AutSPACEs?</h2>
          <p>
            Autistic people, who are formally or self-diagnosed, and aged 18 or over can share stories on AutSPACEs. 
            Someone who is not autistic can help an autistic person share a story, or if the autistic person is 
            unable to share themselves, a non-autistic person can do this on their behalf, 
            but they must follow our <a href="{% url 'main:content_moderation_guidelines' %}">content guidelines</a>.
          </p>

        </div>
        <div class="faq-class">
          <h2 class="heading-blue" id="what-happens-to-stories">What happens to stories I share?</h2>
          <p>You decide who sees any story you share on AutSPACEs. There are four options.</p>

          <p>
            <b>1. Share the story publicly</b> 
          </p>
          <p>
            If you choose to share the story publicly, we will hold it 
            securely in a database (via Open Humans) and check that it follows our content guidelines. 
            If it does, you’ll get a notification on your account and it will be posted publicly on the website.
          </p>
          <p>
            If it includes potentially upsetting or triggering content, 
            it will be published with a trigger warning. If it includes unacceptable content, 
            you will get a notification on your account that it won’t be published – 
            and you can decide whether to change and resubmit it.
          </p>
          <p>
            Please be aware, we can’t control who reads a story once it’s published.
          </p>
          <p>
            <b>2. Share the story with researchers</b> 
          </p>
          <p>
            If you choose to share the story for research, we will hold it securely in a database. 
            We will share it only with researchers who’ve been accepted by our vetting panel and agree to our terms and values.
          </p>
          <p>
            <b>3. Share publicly and with researchers</b> 
          </p>
          <p>
            You can opt to share in both these ways.
          </p>
          <p>
            <b>4. Keep the story private</b> 
          </p>
          <p>
            If you keep the story private, we will hold it securely in a database and won’t share it with anyone else. 
            You will be able to view it from <a href="{% url 'main:my_stories' %}">My stories.</a>.
          </p>



          <p>We will never sell your data, and we will never share your stories without your permission.</p>
        </div>
        <div class="faq-class">
          <h2 class="heading-blue" id="how-to-decide">How do you decide which stories to publish?</h2>
          <p>
            We publish all stories that follow our content guidelines 
            and that we have permission from the writer to share publicly.
          </p>
        </div>

        <div class="faq=class">
          <h2 class="heading-blue" id="can-change-story">Can you change my story?</h2>
          <p>
            No. We won’t change your spelling or grammar, or alter what you’ve said in any other way. 
            However, we may add a trigger warning, if we think 
            it’s necessary – these are explained in our content guidelines.
          </p>
        </div>
        <div class="faq-class">
          <h2 class="heading-blue" id="what-if-not-accepted">What can I do if my story isn’t accepted?</h2>
          <p>You’re welcome to change your story, making sure it follows our content guidelines, and submit it again.
          </p>

        </div>
        <div class="faq-class">
          <h2 class="heading-blue" id="what-if-change-mind">What if I change my mind about my story?</h2>
          <p>
            If you change your mind about what you want to include in your story, you can edit it at any time, 
            by logging into your account, then resubmit it. It will be changed in 
            the database immediately. If you want it published publicly, 
            we’ll need to check again that it follows our content guidelines.
          </p>
          <p>
            You can delete your story at any time by logging into your account. 
            It will be removed from the website and database right away.
          </p>
          <p>
            If you change your mind about who you want to see your story, you can log into your account 
            at any time and change the permissions.
          </p>
          <p>
            If you no longer want to share your story for research, we won’t share it with any further 
            researchers and will ask any that already have it to remove it from their data. 
            However, it may not always be possible to remove your story – for instance, 
            if a paper has already been published using the data.
          </p>
          <p>
            If you alter your permissions so a story is not shared publicly, this change will happen immediately.
          </p>
        </div>
        <div class="faq-class">
          <h2 class="heading-blue" id="share-someone-else">Can I share a story about someone else?</h2>
          <p>
            You’re welcome to help someone else if they need support to share their story or can’t do it themselves. 
            But, if possible, do this only with their permission, and check they’re happy with what you’ve written.
          </p>
          <p>
            Please follow our content guidelines, keep the story as neutral as possible 
            and make observations instead of assumptions or inferences.
          </p>
          <p>
            AutSPACEs is not a place to complain, rant or vent about autistic people. 
            It exists to understand autistic people better and to promote their wellbeing.
          </p>

        </div>
        <div class="faq-class">
          <h2 class="heading-blue" id="share-someone-else">What's the process for sharing a story?</h2>
          <p>
            To share a sensory experience on AutSPACEs, go to the <a href="{% url 'main:share_exp' %}">Add stories</a> 
            page and create an account (or log in).
            Once you’re logged in, write your story in the text box. You can then choose to share it 
            publicly on the website or for research, to do both things or neither.
          </p>
          <p><img src="{% static 'images/submit-experience_grey.svg' %}" class="mx-auto d-block" alt="Flow chart showing the
            process for submitting a story"/></p>
        </div>
        <div class="faq-class">
          <h2 class="heading-blue" id="moderating-autspaces">What does being an AutSPACEs moderator involve?</h2>
          <p>
            Thank you for your interest in becoming a moderator. This is a hugely important and valuable role. 
            Moderators will have a direct impact on the experiences of people using AutSPACEs by helping 
            ensure it’s a welcoming and inclusive space where autistic people can be heard. 
            The role will be voluntary and unpaid.  
          </p>
          <p>
            We’re currently developing a process for members of the AutSPACEs community to become moderators, 
            but we need to ensure we uphold our responsibilities towards ethical data management, 
            and we also need more information about how people use the website.
          </p>
          <p>
            In the meantime, a member of the AutSPACEs team will moderate stories. 
            If you would like to be involved in designing how we moderate the site, 
            please email us at AutSPACEs@turing.ac.uk.
          </p>
        </div>
        <div class="faq-class">
          <h2 class="heading-blue" id="moderation-benefits">What are the benefits of being a moderator?</h2>
          <p>There are several benefits of being a moderator for AutSPACEs.</p>
          <p>1. Helping the autism community</p>
          <p> 
            Moderation is essential to creating a welcoming and inclusive space for autistic people 
            and their supporters online. Unfortunately, autistic people are more likely to encounter 
            problems such as bullying and harassment online, which may make their experience negative or 
            prevent them benefiting from online communities.  
          </p>
          <p>
            At AutSPACEs, we want to create a friendly, safe, autistic-voice-first space that diverse autistic 
            people can trust. As a moderator, you will be able to support other autistic people and 
            their allies by ensuring when they come to AutSPACEs, 
            they’re protected and can feel comfortable sharing their experiences.
          </p>
          <p>2. Having power</p>
          </p>
          <p>
            As an AutSPACEs moderator, you will have a direct say in what gets published. 
            You will also be able to influence the way it’s run and the values it upholds. 
            We want you to have power and control over AutSPACEs, because it’s your space and exists to support you.
          </p>
          <p>
            If you’re frustrated about how autistic people are treated or spoken about online, 
            by becoming an AutSPACEs moderator you’ll be taking direct action to change that and create a different space.
          </p>
          <p>3. Gaining skills</p>
          <p>
            Moderation skills are hugely valuable. As a moderator for AutSPACEs, you’ll gain specific skills and 
            understanding about what to look for when moderating posts, and how to assess them using content guidelines. 
            Reading others’ experiences will also broaden your perspective, increasing your empathy and awareness.  
          </p>
          <p>4. Flexibility </p>
          <p>
            As a moderator, the amount of time you put in will be up to you. You won’t be required to moderate for a set number of 
            hours, and you can stop at any time. It will be an entirely flexible volunteering 
            role that you can do from the comfort of your home.
          </p>
        </div>
        <h2 class="heading-blue" id="moderation-risks">What are the risks of being a moderator?</h2>
        <p>
          As an AutSPACEs moderator, you’ll be in a position to shield others from potentially upsetting, 
          triggering, explicit or abusive content. This means you’ll have to read that content. 
          Please, therefore, apply only if you’re psychologically robust and prepared to encounter such content.
        </p>
        <p>
          If you are distressed, concerned or negatively affected in any way by your experiences as a moderator, 
          please reach out to a member of the moderator team and we will support you.
        </p>
      </div>
    </div>
  </div>

</section>

{%endblock%}
