{% extends 'main/application.html' %}
{% load static %}
{% block title %}AutSPACEs{% endblock %}

{% block body_attributes%} data-bs-spy="scroll" data-target="#content-bar" {% endblock %}

{% block content %}

<!-- Introduction of AutSPACEs -->
<section id="title">
  <div class="container-fluid">
    <div class="row intro">
      <div class="col-lg-6 text-left">
        <h1 class="big-heading">AutSPACEs</h1>
      </div>
    </div>

    <div class="row intro intro-text">
      <div class="col-lg-7">
        <h3 class="title-text">
          Welcome to AutSPACEs! 
          This is a community of autistic people where you can share stories about your senses with other users and allies, 
          to help make the world more comfortable and inclusive.
        </h3>
      </div>

      <div class="col-lg-5">
        <img class="title-image" src="{% static 'images/animation_a.jpg' %}" alt="Illustration" />
      </div>
    </div>
  </div>
</section>

<!-- Platform information -->
<section id="platform_info">
  <div class="row">
    <div class="col-lg-12 platform-title">
      <h2 class="section-heading">Why your sensory stories matter</h2>
    </div>
  </div>
  <div class="row">
    <div class= "col-lg-12 platform-info-text">

      <p>Every autistic person is unique but there are things many have in common. 
        These include senses that work differently to those of non-autistic people.</p>

      <p>This can create challenges and barriers when you have to navigate public and private spaces that don’t 
        take account of your differences. 
        For example, you might find it hard – or impossible – to cope with light and sound levels, 
        strong smells or busy places that don’t trouble non-autistic people.</p>

        <h3>Help make a difference</h3>

        <p>
          Sharing stories of sensory difficulties you’ve faced and how you responded can help you process what happened, 
          while reading about other people’s experiences can make you feel less alone.
        </p>
        <p>
          Telling your stories can also educate non-autistic people, 
          including researchers and designers, about autistic people’s 
          needs – an important step towards building a world that works better for everyone.
        </p>
        <h3>
          You are in control
        </h3>
        <p>
          If you’d like to get involved or want to know more, click on a menu option at the top of the page or an icon below.
        </p>
        <p>
          It’s up to you how many stories you share, how much or how little you say and whether you make them 
          available for others to read. You can edit your stories, change who can see them or delete them at any time.
        </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="float-end">
        <a href="{% url 'main:share_exp' %}" class="mr-3 btn btn-outline-primary btn-home-about btn-lg mb-3">
          Add Story
        </a>
      </div>
    </div>
  </div>
</section>

<!-- How to Use the Platform -->
<section id="platform_usage">
  <div class="row">
    <div class="col-lg-12 platform-title">
      <h2 class="section-heading">How to use AutSPACEs</h2>
    </div>
  </div>
  <div class="row">
    <div class="col platform-box usage-box">
      <a href="{% url 'main:registration' %}">
        <h3 class="usage-heading">
          Register
          <br/>
          <i class="usage-icon m-5 bi bi-people"></i>
        </h3>
      </a>
    </div>

    <div class="col platform-box usage-box">
      <a href="{% url 'main:share_exp' %}">
        <h3 class="usage-heading">
          Share
          <br/>
          <i class="usage-icon m-5 bi bi-share-fill"></i>
        </h3>
      </a>
    </div>

    <div class="col platform-box usage-box">
      <a href="{% url 'main:public_experiences' %}">
        <h3 class="usage-heading">
          View
          <br/>
          <i class="usage-icon m-5 bi bi-eye-fill"></i>
        </h3>
      </a>
    </div>

    <div class="col platform-box usage-box">
      {% if user.is_authenticated %}
      <a href="{% url 'main:my_stories' %}">
      {% else %}
      <a href="{% url 'main:registration' %}">
      {% endif %}
        <h3 class="usage-heading">
          Edit
          <br/>
          <i class="usage-icon m-5 bi bi-pencil-square"></i>
        </h3>
      </a>
    </div>

    <div class="col platform-box usage-box">
      <a href="{% url 'main:what_autism_is' %}">
        <h3 class="usage-heading">
          Learn
          <br/>
          <i class="usage-icon m-5 bi bi-mortarboard"></i>
        </h3>
      </a>
    </div>
  </div>
</section>

<!-- View Experiences -->
<section id="experience">
  <div class="row">
    <div class="col-lg-12 shared-experience">
    <h2 class="section-heading">Shared stories</h2>
  </div>
  <div id="experience-carousel" class="carousel slide" data-bs-ride="false" data-bs-interval="false">
    <ol class="carousel-indicators">
      {% for story in stories %}
      <button type="button" data-bs-target="#experience-carousel" data-bs-slide-to="{{ forloop.counter0 }}" class="{{ forloop.first|yesno:"active,," }}"></button>
      {% endfor %}
    </ol>
    <div class="carousel-inner">
      {% for story in stories %}
      <div class="carousel-item {{ forloop.first|yesno:"active,," }}">
        <a href="{% url 'main:single_story' story.uuid %}">
        <div class="row">
          {% if story.image %}
          <div class="experience-half w-50">
          <div class="experience-image-box w-100">
          <img class="experience-image d-block w-100" src="{% static "images/" %}{{ story.image }}" />
          </div>
          </div>
          <div class="experience-half w-50">
          <div class="experience-text-box w-100">
            <h3 class="experience-heading">{{ story.title_summary }}</h3>
            <p class="experience-content">{{ story.experience_summary }}</p>
          </div>
          </div>
        {% else %}
          <div class="experience-full w-100">
          <div class="experience-text-box w-100">
            <h3 class="experience-heading">{{ story.title_summary }}</h3>
            <p class="experience-content">{{ story.experience_summary }}</p>
          </div>
          </div>
        {% endif %}
        </div>
        </a>
      </div>
      {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#experience-carousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#experience-carousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>
</section>

<!-- Our goals -->
<section id="value">
  <div class="row">
    <div class="col-lg-12 platform-title">
      <h2 class="section-heading">Our goals</h2>
    </div>
  </div>
  <div class="row">
    <div class="row">

      <div class="col-lg-4 value-box">
        <h3 class="value-heading">Share</h3>
        <p class="value-text">Share stories and strategies with each other</p>
      </div>

      <div class="col-lg-4 value-box">
        <h3 class="value-heading">Influence</h3>
        <p class="value-text">Influence organisations and policymakers for real change</p>
      </div>

      <div class="col-lg-4 value-box">
        <h3 class="value-heading">Educate</h3>
        <p class="value-text">Educate non-autistic people about autistic experiences</p>
      </div>
  </div>
</section>

{% endblock %}
