{% extends 'main/application.html' %}
{% load static %}
{% block title %}AutSPACEs{% endblock %}

{% block body_attributes%} data-bs-spy="scroll" data-target="#content-bar" {% endblock %}

{% block content %}

<!-- Introduction of AutSPACEs -->
<section id="title">
  <div class="container-fluid">
    <div class="row intro">
      <div class="col-lg-6 text-left">
        <h1 class="big-heading">AutSPACEs</h1>
      </div>
    </div>

    <div class="row intro intro-text">
      <div class="col-lg-7">
        <h3 class="title-text">A space for autistic people to share our stories about our senses so we can build a better world for autistic people</h3>
      </div>

      <div class="col-lg-5">
        <img class="title-image" src="{% static 'images/animation_a.jpg' %}" alt="Illustration" />
      </div>
    </div>
  </div>
</section>

<!-- Platform information -->
<section id="platform_info">
  <div class="row">
    <div class="col-lg-12 platform-title">
      <h2 class="section-heading">About AutSPACEs</h2>
    </div>
  </div>
  <div class="row">
    <div class= "col-lg-12 platform-info-text">

      <p>AutSPACEs is made by and for autistic people, researchers, and allies
      of autistic people, who think that the world would be a much better place
      if autistic people had more of a say in how public and private spaces are
      used and designed.</p>

      <p>All autistic people are different. We want to collect together lots of
      stories from autistic people, so that we can better understand how
      sensory processing differences affect the way autistic people navigate
      the world around them. Together, we can use this information to build a
      better world for autistic people.</p>

    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="float-end">
        <a href="{% url 'main:share_exp' %}" class="mr-3 btn btn-outline-primary btn-home-about btn-lg mb-3">
          Add Story
        </a>
        <a href="{% url 'main:about_us' %}" class="btn btn-outline-primary btn-home-about btn-lg mb-3">
          Read More
        </a>
      </div>
    </div>
  </div>
</section>

<!-- How to Use the Platform -->
<section id="platform_usage">
  <div class="row">
    <div class="col-lg-12 platform-title">
      <h2 class="section-heading">How to use the platform</h2>
    </div>
  </div>
  <div class="row">
    <div class="col platform-box usage-box">
      <a href="{% url 'main:registration' %}">
        <h3 class="usage-heading">
          Register
          <br/>
          <i class="usage-icon m-5 bi bi-people"></i>
        </h3>
      </a>
    </div>

    <div class="col platform-box usage-box">
      <a href="{% url 'main:share_exp' %}">
        <h3 class="usage-heading">
          Share
          <br/>
          <i class="usage-icon m-5 bi bi-share-fill"></i>
        </h3>
      </a>
    </div>

    <div class="col platform-box usage-box">
      <a href="{% url 'main:public_experiences' %}">
        <h3 class="usage-heading">
          View
          <br/>
          <i class="usage-icon m-5 bi bi-eye-fill"></i>
        </h3>
      </a>
    </div>

    <div class="col platform-box usage-box">
      {% if user.is_authenticated %}
      <a href="{% url 'main:my_stories' %}">
      {% else %}
      <a href="{% url 'main:registration' %}">
      {% endif %}
        <h3 class="usage-heading">
          Edit
          <br/>
          <i class="usage-icon m-5 bi bi-pencil-square"></i>
        </h3>
      </a>
    </div>

    <div class="col platform-box usage-box">
      <a href="{% url 'main:what_autism_is' %}">
        <h3 class="usage-heading">
          Learn
          <br/>
          <i class="usage-icon m-5 bi bi-mortarboard"></i>
        </h3>
      </a>
    </div>
  </div>
</section>

<!-- View Experiences -->
<section id="experience">
  <div class="row">
    <div class="col-lg-12 shared-experience">
    <h2 class="section-heading">Shared stories</h2>
  </div>
  <div id="experience-carousel" class="carousel slide" data-bs-ride="false" data-bs-interval="false">
    <ol class="carousel-indicators">
      {% for story in stories %}
      <button type="button" data-bs-target="#experience-carousel" data-bs-slide-to="{{ forloop.counter0 }}" class="{{ forloop.first|yesno:"active,," }}"></button>
      {% endfor %}
    </ol>
    <div class="carousel-inner">
      {% for story in stories %}
      <div class="carousel-item {{ forloop.first|yesno:"active,," }}">
        <a href="{% url 'main:single_story' story.uuid %}">
        <div class="row">
          {% if story.image %}
          <div class="experience-half w-50">
          <div class="experience-image-box w-100">
          <img class="experience-image d-block w-100" src="{% static "images/" %}{{ story.image }}" />
          </div>
          </div>
          <div class="experience-half w-50">
          <div class="experience-text-box w-100">
            <h3 class="experience-heading">{{ story.title_summary }}</h3>
            <p class="experience-content">{{ story.experience_summary }}</p>
          </div>
          </div>
        {% else %}
          <div class="experience-full w-100">
          <div class="experience-text-box w-100">
            <h3 class="experience-heading">{{ story.title_summary }}</h3>
            <p class="experience-content">{{ story.experience_summary }}</p>
          </div>
          </div>
        {% endif %}
        </div>
        </a>
      </div>
      {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#experience-carousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#experience-carousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>
</section>

<!-- Our goals -->
<section id="value">
  <div class="row">
    <div class="col-lg-12 platform-title">
      <h2 class="section-heading">Our goals</h2>
    </div>
  </div>
  <div class="row">
    <div class="row">

      <div class="col-lg-4 value-box">
        <h3 class="value-heading">Share</h3>
        <p class="value-text">Share our strategies and experiences with each other</p>
      </div>

      <div class="col-lg-4 value-box">
        <h3 class="value-heading">Influence</h3>
        <p class="value-text">Advise organisations and policy-makers for real-world impact</p>
      </div>

      <div class="col-lg-4 value-box">
        <h3 class="value-heading">Educate</h3>
        <p class="value-text">Educate non-autistic people about autistic experiences</p>
      </div>
  </div>
</section>

{% endblock %}
