<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
  <!-- Bootstrap CSS -->
  <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
  <!--Google Fonts-->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,300&display=swap"
        rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic" rel="stylesheet" type="text/css">
<!--    Stylesheet-->
  <link href="{% static '/css/home.css' %}" rel="stylesheet">
  <title>AutSPACEs Landing Page</title>
  </head>

<body>
<!--Navigation-->
<section id="title">
<!--  Navigation-->
    {% include 'main/partials/navigation.html' %}
   <div class="container-fluid">

    {% block content %}
    <!--Introduction of AutSPACEs-->
    <div class="row intro">
      <div class="col-lg-6 text-left">
        <h1 class="big-heading">AutSPACEs</h1>
      </div>
    </div>

    <div class="row intro intro-text">
      <div class="col-lg-7">
        <h3 class="title-text">Makes environments better for autistic people by sharing stories about how senses
          affect
          people</h3>
        <!--    Direct to 'About Us' Page-->
        <button class="btn btn-outline-light btn-lg float-left" type="button">Read More</button>
      </div>
      <div class="col-lg-5">
        <img class="title-image" src="{% static '/images/animation_a.jpg' %}" alt="Illustration" />
      </div>
    </div>
  </div>

</section>
<section id="value">
  <div class="row">
  <div class="col-lg-4 value-box">
     <h3 class="value-heading">Increase</h3>
  <p class="value-text">understanding of sensory processing</p>
  </div>

  <div class="col-lg-4 value-box">
  <h3 class="value-heading">Share</h3>
  <p class="value-text"> strategies and experiences of autistic people</p>
</div>

  <div class="col-lg-4 value-box">
  <h3 class="value-heading">Advise</h3>
  <p class="value-text">organisations how to create better environments for autistic people</p>
    </div>
    </div>
</section>
<!--  What Autism is-->
<section id="autism">
  <div class="row align-items-center">
    <div class="col-lg-6">
      <h2 class="section-heading">What Autism is</h2>
    </div>
    <div class="col-lg-6">
      <h4 class="autism-text">Autistic people often have different sensory processing to people who are not autistic
        .</h4>
      <h4 class="autism-text">By collecting together lots of autistic people’s experiences, we can change spaces so
        that
        they are
        better for autistic people.</h4>
      <!--  Direct to 'What Autism Is Page-->
      <button class="btn btn-outline-light btn-lg float-right" type="button">Read More</button>
    </div>
  </div>
<!--  Direct to 'What Autism Is Page-->
</section>
<!--  View Experiences -->
<section id="experience">
  <div class="row">
      <div class="col-lg-6 shared-experience">
      <h2 class="section-heading">Shared Experiences</h2>
  </div>
  <div id="experience-carousel" class="carousel slide" data-ride="false" data-interval="false">
    <ol class="carousel-indicators">
      <li data-target="#experience-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#experience-carousel" data-slide-to="1"></li>
      <li data-target="#experience-carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
        <img class="experience-image float-left d-block w-50" src="{% static "/images/animation_d.jpg" %}" width="150"
          height="325"/ alt="First slide">
        <div class="col-md-5">
        <h3 class="experience-heading">Eating in a Restaurant</h3>
        <p class="experience-content">...Waiting for the food felt like some kind of marathon and I just got so overwhelmed. But now that I’ve
          realised hunger exacerbates my sensory differences I know how to cope. I try to make sure I’ve eaten something before I go out and a while back I bought some earplugs which are great for small and bustling places.. </p>
        <em small class="experience-content">Sdy</em>
         </div>
          </div>
      </div>
      <div class="carousel-item">
                <div class="row">
         <img class="experience-image float-left d-block w-50" src="{% static "/images/animation_b.jpg" %}" width="150"
                  height="325"/ alt="Second slide">
                          <div class="col-md-5">

         <h3 class="experience-heading">Ice cream</h3>
         <p class="experience-content">...Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
           et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo co.... </p>
        <em class="experience-content">Ali</em>
                          </div>
                  </div>
      </div>
      <div class="carousel-item">
        <div class="row">
         <img class="experience-image float-left d-block w-50" src="{% static "/images/animation_c.jpg" %}"/
          width="150"
          height="325"  alt="Third slide">
          <div class="col-md-5">
         <h3 class="experience-heading">Traffic</h3>
        <p class="experience-content">...Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo co .. </p>
        <em class="experience-content">Jess</em>
            </div>
          </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#experience-carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#experience-carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
      <a class="col-lg-12" href="{% url 'main:view_experiences' %}">
       <button class="btn btn-outline-dark btn-lg float-right" type="button">View More</button>
   </a>
        </div>

</section>
<!--How to Use the Platform-->
<section id="platform_usage">
  <div class="row">
      <div class="col-lg-12 platform-title">
      <h2 class="section-heading">How to Use the Platform</h2>
    </div>
  </div>
 <div class="row">
  <div class="col-lg-6 platform-box">
     <h3 class="usage-heading">1. Register</h3>
  <p class="usage-text">an account on OpenHumans. When you register you create a private and anonymous account with Open Humans. We
                                     work with Open Humans to make sure you have control over your data and that it is safe.
  </p>
  </div>

  <div class="col-lg-6 platform-box">
  <h3 class="usage-heading">2. Share</h3>
  <p class="usage-text">a story abbout sensory experiences. Enter a description of how your senses affect you. For example: “I do not go
    on trains because they are too loud”.</p>
</div>

  <div class="col-lg-6 platform-box">
  <h3 class="usage-heading">3. Choose</h3>
  <p class="usage-text">the viewing access of the stories. You can choose to share your story publicly or privately, for research. You can also share both publicly and with researchers if you prefer.
  </p>
    </div>

     <div class="col-lg-6 platform-box">
  <h3 class="usage-heading">4. Check</h3>
  <p class="usage-text">shared stories. If you want to make your story public, it will first be checked to make sure it follows our code
    of conduct. This is to keep AutSPACEs an autism-first, inclusive and welcoming space for all.
  </p>
    </div>
     <div class="col-lg-6 platform-box">
  <h3 class="usage-heading">5. Change</h3>
  <p class="usage-text">your stories any time. You can view your own stories and edit them, or change who they are
    shared with any
    time,
    even once they are submitted.</p>
    </div>
      <a class="col-lg-6" href="{{ auth_url }}">
       <button class="btn btn-outline-light btn-lg float-right register-button" type="button">Register</button>
   </a>
    </div>

</section>
<!-- Call to Action-->
<section id="cta">
  <h2 class="section-heading">Get Involved</h2>
     <div class="row">
       <div class="cta-card col-lg-3">
         <div class="card">
           <h3 class="card-header" style="background-color: #1BB5AF">Management</h3>
           <div class="card-body">
             <p class="card-text">Contribute to the GitHub repository.</p>
                <a href="https://github.com/alan-turing-institute/AutisticaCitizenScience" class="btn btn-primary">Contribute</a>
           </div>
         </div>
       </div>
              <div class="cta-card col-lg-3">
         <div class="card">
           <h3 class="card-header" style="background-color: #1BB5AF">Development</h3>
           <div class="card-body">
             <p class="card-text">Contribute to the GitHub repository.</p>
                <a href="https://github.com/alan-turing-institute/AutSPACEs" class="btn btn-primary">Contribute</a>
           </div>
         </div>
       </div>
              <div class="cta-card col-lg-3">
         <div class="card">
           <h3 class="card-header" style="background-color: #1BB5AF">Discussion</h3>
           <div class="card-body">
             <p class="card-text">Join us on our public Slack Channel.</p>
                <a href="https://slackin.openhumans.org" class="btn btn-primary">Join Us</a>
           </div>
         </div>
       </div>
              <div class="cta-card col-lg-3">
         <div class="card">
           <h3 class="card-header" style="background-color: #1BB5AF">Updates</h3>
           <div class="card-body">
             <p class="card-text">Subscribe to our monthly newsletter.</p>
                <a href="https://tinyletter.com/AutisticaTuringCitizenScience" class="btn btn-primary">Subscribe</a>
           </div>
         </div>
       </div>
     </div>

</section>
<!--Footer-->
<footer id="footer">
  {% include 'main/partials/footer.html' %}
  <div class="row">

  {% endblock %}
  </div>

</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<!--<script crossorigin="anonymous"-->
<!--        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"-->
<!--        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>-->
<script crossorigin="anonymous"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>


</html>
