<p><img src="/images/cloudbanner.png" alt=""></p>
<h1 id="AutSPACEs">AutSPACEs</h1>
<p><img src="/images/hill.png" alt=""></p>
<p><strong>Building a better world for autistic people and thier families</strong> </p>
<h3 id="welcome-to-AutSPACEs">Welcome to AutSPACEs</h3>
<p><em>Keep reading to find out more, or <a href="/signup/signup.md">login straight away.</a></em> </p>
<h4 id="what-would-the-world-be-like-if-it-was-built-by-autistic-people-and-for-autistic-people-">What would the world be like if it was built by autistic people and for autistic people?</h4>
<h4 id="how-would-it-be-different-">How would it be different?</h4>
<p>This website exists to answer that question.
We are a group of autistic people, researchers, and allies of autistic people, who think that the world would be a much better place if autistic people had more of a say in how public and private spaces are used and designed. </p>
<p>Compared to non-autistic people, autistic people can experience the sensory world differently.
For example, they may find sounds lounder, lights brighter, colours more beautiful and virbrant or busy spaces more overwhelming.</p>
<p>This can be a wonderful gift, but it can also cause lots of problems for autistic people and their families when they are trying to navigate a world not built with autistic people in mind. For example, it can be stressful taking a busy train during rush hour, or attending an appointment in a brightly lit hospital waiting room.</p>
<p>The video below, which was made in collaboration with autistic people, shows some of the challenges sensory processing differences can present:</p>
<p><a href="https://youtu.be/rP1S8ip4VVE"><img src="https://img.youtube.com/vi/rP1S8ip4VVE/maxresdefault.jpg" alt="Watch the video"></a>
<em>This short video describes some of the sensory processing sensitivies that some autistic people experience.</em></p>
<p>All autistic people are different.
We want to collect together lots of stories from autistic people and those close to them, for example family members, so that we can better understand how sensory processsing differences affect the way autistic people navigate the world around them.
Together, we can use this information to build a better world for autistic people and their families. </p>
<h4 id="there-are-three-main-goals-">There are three main goals:</h4>
<ol>
<li>To advise organisations about how they can design and adapt spaces and policies to improve autistic people’s lives. </li>
<li>To educate non-autistic people so that they can better support their autistic friends, families, and colleagues. </li>
<li>To share autistic people’s stories and tips with other autistic people who have similar experiences, so that they can learn from each other.</li>
</ol>
<h4 id="how-it-works-">How it works:</h4>
<ol>
<li><a href="/signup/signup.md">Sign up</a></li>
<li><a href="/signup/signup-confirmation.md">Login</a></li>
<li><a href="/enter-experience/enter-experience.md">Enter an experience</a></li>
</ol>
<p>You can also <a href="/view-experiences/view-experiences.md">view experiences</a> which other people have consented to be made public, whether or not you share you choose to share your own experience. </p>
<h4 id="then-what-">Then what?</h4>
<p>When you have entered an experience, you can decide who to share it with. We believe that your data should belong to you, so it&#39;s your choice what to do with it. You can also change your mind at any time by going to <a href="/my-experiences/my-experiences.md">my experiences</a> and selecting which options you would like</p>
<ol>
<li>If you choose to <strong>share your experience with researchers</strong>, your experience will be part of a dataset with other people&#39;s experiences, and researchers can apply to look at the dataset for the purposes of making the world better for autistic people and their families. </li>
<li>If you choose to <strong>make your experience public</strong>, your experience will first be checked over by a moderator to make sure it follows our <a href="">code of conduct</a>. You will be notified when a moderator has made a decision about your experience. If they decide it does follow our code of conduct, it will be published anonymously on this website and anyone will be able to viewe it. You can also choose to share with both researchers and to make it public by ticking both boxes. </li>
<li>If you choose to <strong>only share your experience with autistic people</strong>, then only people who have signed in to this website and told us they are autistic will be able to view your experiences.  </li>
<li>If you choose <strong>not to share</strong> your experience you can still view it by going to [/myexperiences/my-experiences.md], and you can change your mind at any time. </li>
</ol>
<h4 id="why-">Why?</h4>
<p>The more experiences from autistic people we collect, the stronger our case will be and the better our knowledge will be to make changes. These changes could include designing buildings autistic people like to be in, making public spaces and public transport less stressful to use for autistic people, and designing policy to support autistic people. Ou ultimate aim is always longer, healthier, happier lives for autistic peoeple and their families. </p>
<p>A few more quick notes </p>
<p>At the top left of every page you will always see the accessibility symbol [symbol]. This means you can change the settings. You can also click on “settings” in the top bar for more  detailed options. </p>
<p>At the bottom right of every page you will always see this feedback button. This lets you give feedback to the website designers if there’s something about the website you think should change, or you want to make a comment about the project. </p>
<h2 id="let-s-go-">Let’s Go!</h2>
<ul>
<li><a href="/signup/signup.md">Sign Up</a></li>
<li><a href="/signup/signup-confirmation.md">Login</a></li>
<li><a href="/about/about.md">Find out more</a></li>
</ul>
<p><em>Photo by Chris Barbalis on Unsplash</em></p>
