<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>AutSPACEs Landing Page</title>
    <style>
        body {
            background: #E8F3FC;
        }

        .my-custom-card {
            background: #C4D9E8;
            width: 500px;
            height: 400px;

        }

        .goals {
            background: #C4D9E8;
            height: 307.84px;
        }

        .btn-colour {
            background: #A0F832;
            height: 80.84px;
            width: 200px;
            text-align: center;
            display: table-cell;
            vertical-align: middle;

        }

        .btn-colour:hover {
            background: #7dce1b;
            height: 80.84px;
            width: 200px;

        }

        .navbar {
            background: rgba(149, 239, 234, 0.42);
        }

        .tiny-letter {
            background: #C4D9E8;
            height: 307.84px;

        }

        .newsletter-btn {
            background: #A0F832;
            height: 50px;
            width: 150px;

        }

        .newsletter-btn:hover {
            background: #7dce1b;
            height: 50px;
            width: 150px;

        }

        form {
            text-align: center;
            font-size: x-large;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand">
        <a class="navbar-brand" href="#">
            <img src="autistic.png" width="65" height="35" alt="">
            <img src="alanturing.png" width="75" height="35" alt="">
        </a>
        <ul class="navbar-nav ">
            <li class="nav-item">
              <a class="nav-link text-dark" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="{% url 'main:public_experiences' %}">View Experiences</a>
            </li>
          </ul>
    </nav>
    <div class="container">

        <div class="row">
            <div class="col-sm-12" style="text-align: center; padding:3%">
                <h1>AutSPACE</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 offset-sm-1 text-center">
                <h4>AutSPACE is an online place where you can help make environments better for autistic people by
                    sharing
                    your stories about how your senses affect you.
                </h4>
            </div>

        </div>
        <br>
        <br>
        {% if user.is_authenticated %}
            <div class="row my-custom-row">
                <div class="col-sm-10 offset-sm-3">
                    <div class="card my-custom-card">
                        <div class="card-body">
                            <h3 class="card-title text-center">How It Works</h3>
                            <ol class="card-text h5">
                                <li>Sign up</li>
                                <li>Share a story about you</li>
                                <li>Choose who gets to view your story</li>
                                <li>Explore other people's stories</li>
                            </ol>
        
                        </div>
        
                    </div>
                </div>
                
                <br>
    
            </div>
            {% else %}
        <div class="row my-custom-row">
            <div class="card my-custom-card">
                <div class="card-body">
                    <h3 class="card-title text-center">How It Works</h3>
                    <ol class="card-text h5">
                        <li>Sign up</li>
                        <li>Share a story about you</li>
                        <li>Choose who gets to view your story</li>
                        <li>Explore other people's stories</li>
                    </ol>

                </div>

            </div>
            <br>
            <div class="col-sm-2 offset-sm-3">
                <br><br><br>
                <a href="#" class="btn btn-default btn-colour btn-lg text-dark"
                    role="button">Sign Up</a>
                <br>
                <a href="{{ auth_url }}" class="btn btn-colour btn-lg btn-block text-dark"
                    role="button">Sign In</a>
                <br>
            </div>
        </div>
            {%endif%}
        <br><br>
        <div class="row">
            <div class="col-sm-10 offset-sm-1 text-center">
                <h4>Autistic people often have different sensory processing to people who are not autistic.
                    By collecting together lots of autistic people’s experiences, we can change spaces so that they are
                    better for autistic people.
                </h4>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-sm-12">
                <div class="card goals">
                    <div class="card-body">
                        <h3 class="card-title text-center">Our Goals</h3>
                        <ol class="card-text h5">
                            <li>Research - increase understanding of sensory processing</li>
                            <li>Share strategies and experiences of autistic people</li>
                            <li>Advise organisations how to create better environments for autistic people</li>
                        </ol>

                    </div>

                </div>
            </div>

        </div>

        <br><br><br>
        <div class="row my-custom-row">
            <div class="col-sm-8 offset-sm-2">
                <div class="card tiny-letter">
                    <div class="card-body">
                        <form action="https://tinyletter.com/AutisticaTuringCitizenScience" method="POST"
                            target="popupwindow" role="form" class="form-horizontal"
                            onsubmit="window.open('https://tinyletter.com/AutisticaTuringCitizenScience', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">

                            <div class="form-group">
                                <label for="exampleInputEmail1">Enter your email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" name="email"
                                    aria-describedby="emailHelp" placeholder="Enter email">
                            </div>
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                else.</small>
                            <input type="hidden" value="1" name="embed" />
                            <br>
                            <div class="form-group">
                                <button class="btn newsletter-btn btn-lg active" type="submit"
                                    value="Subscribe">Subscribe</button>
                                <br>
                                <a style="font-size: medium;" href="https://tinyletter.com" target="_blank">powered by
                                    TinyLetter</a>
                            </div>

                            <br>


                        </form>

                        </p>
                        <p></p>


                    </div>

                </div>
            </div>


        </div>
        <br><br>



        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

</body>

</html>