{% load static %}
<!DOCTYPE html>
<html lang="en">

{% block content %}


<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <!-- Bootstrap CSS -->
  <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
  <!--Google Fonts-->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,300&display=swap"
        rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic" rel="stylesheet" type="text/css">
<!--    Stylesheet-->
  <link href="{% static '/css/moderation.css' %}" rel="stylesheet">
  <title>AutSPACEs Moderation Page</title>
</head>

<body>
{% include 'main/partials/navigation.html' %}
<section id="intro">
  <div class="row">
   <div class="col-lg-12">
     <div class="card-header"><h4>Moderator: </h4></div>
     <div class="card-body">
     <p>Moderated Experiences: </p>
      <p>New Experiences in the Platform: </p>
<!--    Google Form for Questions Collection-->
         <a class="col-lg-4" href="#"><button class="btn btn-outline-primary btn-lg "
                                              type="button">Moderate New
    Experiences</button>
   </a>
    <a class="col-lg-4" href="#"><button class="btn btn-outline-primary btn-lg " type="button">Review
      Moderated Experiences</button>
   </a>
        <a class="col-lg-4" href="#"><button class="btn btn-outline-primary btn-lg " type="button">
          Questions</button>
   </a>
     </div>
   </div>
  </div>
</section>
<!--CTA-->
<section id="cta">

</section>


<!-- Helen Faff -->
<section id="in-review-public-experiences">
  <div class="in-review-table-container">
    <table class="table table-responsive-lg table-hover table-striped" style="width:auto">
      <thead><tr>
        <th class="number-th" scope="col">Nr.</th>
        <th class="title-th" scope="col">Title</th>
        <th class="title-th" scope="col">Moderate</th>
        </tr></thead>
        <tbody>
          {% for experience in experiences %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{% firstof experience.title_text "notitle" %}</td>
          </tr>
          <td>
            <a href="{% url 'main:moderate_exp' experience.experience_id %}">
              <button class="btn btn-primary">Edit</button>
            </a>
        </td>
          {% endfor %}
        </tbody>
          </table>

  </div>
</section>


<!--Footer-->
<section id="footer">
   <div class="container-fluid">
       {% include 'main/partials/footer.html' %}
   </div>
</section>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
{% include 'main/partials/jquery.html' %}

</body>

</html>

{% endblock %}
