{% extends 'main/application.html' %}

{% block title %}AutSPACEs - Experiences for moderation {% endblock %}

{% load static %}
{% load custom_tags %}
{% load humanize %}

{% block content %}

<section id="moderation-intro">
  <div class="row">
    <div class="col-lg-12">
      <div class="card-header"><h4>Moderation Summary</h4></div>
      <div class="card-body">
        <div class="row align-items-center" style="left: 0px">
          <div class="col-lg-6">
            <p>New Experiences on the Platform: {{ not_reviewed }} </p>
            <p>Under review: {{ in_review }} </p>
          </div>
          <div class="col-lg-6">
            <p>Approved: {{ approved }} </p>
            <p>Rejected: {{ rejected }} </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="moderation-table">
  <div class="row">
    <div class="col-lg-12">
      <div class="card-header"><h4>Stories</h4></div>
      <div class="card-body">
        <div class="container search">
          <form method="GET" action="{% url 'main:moderation_list' %}">
            <div class="form-row align-items-center" style="left: 0px">
              <div class="col-lg-10">
                <label class="sr-only" for="inlineFormInput">Name</label>
                <input class="form-control mb-2"
                        id="inlineFormInput"
                        placeholder="Search stories"
                        type="text"
                        name="searched"
                        value="{{ searched }}"
                        />
              </div>

              <div class="col-auto">
                <button class="btn btn-primary mb-2" type="submit">Search</button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="moderation-table-container">

        <!-- Tab navigation -->
        <ul class="nav nav-tabs moderation-tabs" id="moderationTabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link" id="pending-tab" data-toggle="tab" href="#pending" role="tab" aria-controls="public" aria-selected="true">Pending Review</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="approved-tab" data-toggle="tab" href="#approved" role="tab" aria-controls="in-review" aria-selected="false">Approved</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="rejected-tab" data-toggle="tab" href="#rejected" role="tab" aria-controls="rejected" aria-selected="false">Rejected</a>
          </li>
        </ul>

        <!-- Tab content -->
        <div class="tab-content" id="moderationTabsContent">
          <div class="tab-pane fade" id="pending" role="tabpanel" aria-labelledby="pending-tab">
            <!-- Table for pending stories -->
            {% include 'main/moderation_table.html' with files=pending_stories %}
            {% include 'main/pagination.html' with stories=pending_stories page_query_param='page_pending' %}
        </div>

        <div class="tab-pane fade" id="approved" role="tabpanel" aria-labelledby="approved-tab">
          <!-- Table for approved stories -->
          {% include 'main/moderation_table.html' with files=approved_stories %}
          {% include 'main/pagination.html' with stories=approved_stories page_query_param='page_approved' %}
        </div>

        <div class="tab-pane fade" id="rejected" role="tabpanel" aria-labelledby="rejected-tab">
          <!-- Table for `in review` stories -->
          {% include 'main/moderation_table.html' with files=rejected_stories %}
          {% include 'main/pagination.html' with stories=rejected_stories page_query_param='page_rejected' %}
        </div>

      </div>
    </div>
  </div>
</section>

<script src="{% static 'js/store-tab.js' %}"></script>

{% endblock %}
