{% load static %}
{% load custom_tags %}
{% load humanize %}

{% if files %}
  <table class="table table-responsive-lg table-hover table-striped moderation-table" style="width:auto">
    <thead>
      <tr>
        <th class="number-th" scope="col">Nr.</th>
        <th class="title-th" scope="col">Title</th>
        <th class="triggering-label" scope="col">Triggering Labels</th>
        <th class="moderation-status" scope="col">Moderation Status</th>
        <th class="title-th" scope="col">Moderate</th>
      </tr>
    </thead>
    <tbody>

      {% for file in files %}
      <tr>
        <th scope="row">{{ file.number }}</th>

        <td>{% firstof file.title_text "notitle" %}</td>
        <td>
        {% if file.other %}
          <span class="badge badge-warning float-right"
                style="font-size: 1rem; margin-top:1%; margin-left:1%;">
            {{file.other}}
          </span>
        {% endif %}
        {% if file.abuse and file.violence and file.drug and file.mentalhealth and file.negbody and file.other %}
          <span class="badge badge-warning float-right"
                style="font-size: 1rem; margin-top:1%; margin-left:1%;">
            All trigger warnings selected
          </span>
        {% else %}
          {% if file.mentalhealth %}
          <span class="badge badge-warning float-right"
                style="font-size: 1rem; margin-top:1%; margin-left:1%;">
            Mental Health issues
          </span>
          {% endif %}
          {% if file.violence %}
          <span class="badge badge-warning float-right"
                style="font-size: 1rem; margin-top:1%; margin-left:1%;">
            Violence
          </span>
          {% endif %}
          {% if file.negbody %}
          <span class="badge badge-warning float-right"
                style="font-size: 1rem; margin-top:1%; margin-left:1%;">
            Negative body image
          </span>
          {% endif %}
          {% if file.drug %}
          <span class="badge badge-warning float-right"
                style="font-size: 1rem; margin-top:1%; margin-left:1%;">
            Drug and/or Alcohol misuse
          </span>
          {% endif %}
          {% if file.abuse %}
          <span class="badge badge-warning float-right"
                style="font-size: 1rem; margin-top:1%; margin-left:1%;">
            Abuse
          </span>
          {% endif %}
        {% endif %}
        </td>
        <td>{{ file.moderation_status }}</td>
        <td>
          <a class="btn btn-primary"
             href="{% url 'main:moderate_exp' file.experience_id %}">
            Moderate experience
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <div class="no-stories-message text-center">
    There are no stories in this category.
  </div>
{% endif %}
