{% extends 'main/application.html' %}

{% block title %}AutSPACEs - My Experiences {% endblock %}

{% load static %}
{% load custom_tags %}
{% load humanize %}
{% load story_filters %} 

{% block content %}

<section id="mystory">


      <div class="story-container">
        <p class="big-heading">
          My Stories
        </p>
        <p class="intro-text">
          Welcome to your personal AutSPACEs page. Here you can:
        </p>

        <ul class="mystory-ul" class="can_do">
          <li class="list-item">See the experiences you have saved and submitted.
          </li>
          <li class="list-item">Change sharing permissions for your experiences.
          </li>
        </ul>
      </div>

      <div class="story-dashboard">
        <p class="dashboard-heading">
          Stories Dashboard
        </p>

        <div class="row story-card-row">
          <div class="story-card col-lg-4">
            <div class="card">
              <h3 class="story-head card-header process">In Process</h3>
              <div class="card-body">
                <ul class="mystory-ul">
                  <li class="list-item"><p class="card-text">Waiting:<strong> {% firstof n_not_reviewed 0|floatformat %} {% toggle_story n_not_reviewed %}
                  </strong></p></li>
                  <li class="list-item"><p class="card-text">Moderating:<strong> {% firstof n_in_review 0|floatformat %} {% toggle_story n_in_review %}
                  </strong></p></li>


                </ul>
              </div>
            </div>
          </div>
          <div class="story-card col-lg-4">
            <div class="card">
              <h3 class="story-head card-header submitted">Moderated</h3>
              <div class="card-body">
                <ul class="mystory-ul">
                  <li class="list-item"><p class="card-text">Moderated:<strong> {% firstof n_moderated 0|floatformat %} {% toggle_story n_moderated %}
                  </strong></p></li>
                  <li class="list-item"><p class="card-text">Approved:<strong> {% firstof n_approved 0|floatformat %} {% toggle_story n_approved %}
                  </strong></p></li>
                  <li class="list-item"><p class="card-text">Rejected:<strong> {% firstof n_rejected 0|floatformat %} {% toggle_story n_rejected %}
                  </strong></p></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="story-card col-lg-4 message-card">
            <div class="card">
              <h3 class="story-head card-header messages">Messages</h3>
              <div class="card-body">
                <ul class="mystory-ul">
                  <li><p class="card-text">Your story<strong>"Traffic Lights"</strong> have been accepted.</p></li>
                </ul>
                <a
                  class="btn btn-outline-info float-right view-btn"
                  href="{% url 'main:public_experiences' %}" rel="noopener noreferrer"
                  target="_blank">View Here
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>

<section id="story-table">
  {% define 'viewable, public, not public, research, non-research' as sharing_tags %}
  <div class="story-table-container">

      <!-- Add the tab navigation -->
    <ul class="nav nav-tabs" id="storyTabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="public-tab" data-toggle="tab" href="#public" role="tab" aria-controls="public" aria-selected="true">Public</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="in-review-tab" data-toggle="tab" href="#in-review" role="tab" aria-controls="in-review" aria-selected="false">Pending Review</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="rejected-tab" data-toggle="tab" href="#rejected" role="tab" aria-controls="rejected" aria-selected="false">Rejected</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="private-tab" data-toggle="tab" href="#private" role="tab" aria-controls="private" aria-selected="false">Private</a>
      </li>
    </ul>

    <!-- Add the tab content -->
    <div class="tab-content" id="storyTabsContent">
    <div class="tab-pane fade show active" id="public" role="tabpanel" aria-labelledby="public-tab">
      <!-- Table for public stories -->
    {% with public_approved_stories=files|filter_by_tag:"public"|filter_by_moderation_status:"approved" %}
      {% include 'main/story_table.html' with files=public_approved_stories %}
    {% endwith %}

    </div>
    <div class="tab-pane fade" id="in-review" role="tabpanel" aria-labelledby="in-review-tab">
      <!-- Table for `in review` stories -->
      {% with in_review_stories=files|filter_by_tag:"public"|filter_in_review %}
        {% include 'main/story_table.html' with files=in_review_stories %}
      {% endwith %}
    </div>
    <div class="tab-pane fade" id="rejected" role="tabpanel" aria-labelledby="rejected-tab">
      <!-- Table for `in review` stories -->
      {% with rejected_stories=files|filter_by_moderation_status:"rejected" %}
        {% include 'main/story_table.html' with files=rejected_stories %}
      {% endwith %}
    </div>
    <div class="tab-pane fade" id="private" role="tabpanel" aria-labelledby="private-tab">
      <!-- Table for private stories -->
      {% with private_stories=files|filter_by_tag:"not public" %}
        {% include 'main/story_table.html' with files=private_stories %}
      {% endwith %}
    </div>
  </div>

  
    <div class="contact-btn">
    <a
      class="btn btn-lg btn-outline-primary float-right"
      href="https://docs.google.com/forms/d/e/1FAIpQLSe_9MW3r4nsGUDxGWN24X88hqtz6q_347DC1gbMc_Yzj2Hrcg/viewform?fbzx=6470416391260718913" rel="noopener noreferrer"
      target="_blank">Contact Moderators
    </a>
      </div>
          </div>

</section>
{% endblock %}
