{% extends 'main/application.html' %}

{% block title %}AutSPACEs - My Experiences {% endblock %}

{% load static %}
{% load custom_tags %}
{% load humanize %}

{% block content %}

<section id="mystory">


      <div class="story-container">
        <p class="big-heading">
          My Stories
        </p>
        <p class="intro-text">
          Welcome to your personal AutSPACEs page. Here you can:
        </p>

        <ul class="mystory-ul" class="can_do">
          <li class="list-item">See the experiences you have saved and submitted.
          </li>
          <li class="list-item">Change sharing permissions for your experiences.
          </li>
        </ul>
      </div>

      <div class="story-dashboard">
        <p class="dashboard-heading">
          Stories Dashboard
        </p>

        <div class="row story-card-row">
          <div class="story-card col-lg-4">
            <div class="card">
              <h3 class="story-head card-header process">In Process</h3>
              <div class="card-body">
                <ul class="mystory-ul">
                  <li class="list-item"><p class="card-text">Not yet reviewed:<strong> {% firstof not_reviewed 0|floatformat %} {% toggle_story not_reviewed %}
                  </strong></p></li>
                  <li class="list-item"><p class="card-text">In review:<strong> {% firstof in_review 0|floatformat %} {% toggle_story in_review %}
                  </strong></p></li>


                </ul>
              </div>
            </div>
          </div>
          <div class="story-card col-lg-4">
            <div class="card">
              <h3 class="story-head card-header submitted">Moderated</h3>
              <div class="card-body">
                <ul class="mystory-ul">
                  <li class="list-item"><p class="card-text">Moderated:<strong> {% firstof moderated 0|floatformat %} {% toggle_story moderated %}
                  </strong></p></li>
                  <li class="list-item"><p class="card-text">Approved:<strong> {% firstof approved 0|floatformat %} {% toggle_story approved %}
                  </strong></p></li>
                  <li class="list-item"><p class="card-text">Rejected:<strong> {% firstof rejected 0|floatformat %} {% toggle_story rejected %}
                  </strong></p></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="story-card col-lg-4 message-card">
            <div class="card">
              <h3 class="story-head card-header messages">Messages</h3>
              <div class="card-body">
                <ul class="mystory-ul">
                  {% if exp_hist %}
                  <p class="card-text">Your story <strong>{{ exp_hist.experience.title_text }}</strong> 
                    was reviewed by the moderators {% firstof exp_hist.changed_at|naturaltime "an unknown amount of time ago" %}. 
                    The current status of the story is <em>{{ exp_hist.experience.moderation_status}}.</em></p>
                  <!-- {% firstof file.created|naturaltime "Creation date unknown" %} -->
                  {% else %}
                  <p class="card-text">There have been no stories reviewed by the moderators at this time.</p>
                  {% endif %}
                </ul>
                
                {% if exp_hist %}
                <a
                  class="btn btn-outline-info float-right view-btn" href="{% url 'main:view_exp' exp_hist.experience.experience_id %}" rel="noopener noreferrer"
                  target="_blank">View Here
                </a>
                {% else %}
                <a
                class="btn btn-outline-info float-right view-btn"
                href="{% url 'main:public_experiences' %}" rel="noopener noreferrer"
                target="_blank">View already published public experiences
              </a>
                {% endif %}



              </div>
            </div>
          </div>
        </div>
      </div>
</section>

<section id="story-table">
  {% define 'viewable, public, not public, research, non-research' as sharing_tags %}
  <div class="story-table-container">

      <!-- Add the tab navigation -->
    <ul class="nav nav-tabs mystory-tabs" id="storyTabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="all-tab" data-toggle="tab" href="#all" role="tab" aria-controls="all" aria-selected="true">All</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="public-tab" data-toggle="tab" href="#public" role="tab" aria-controls="public" aria-selected="false">Public</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="in-review-tab" data-toggle="tab" href="#in-review" role="tab" aria-controls="in-review" aria-selected="false">Pending Review</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="rejected-tab" data-toggle="tab" href="#rejected" role="tab" aria-controls="rejected" aria-selected="false">Rejected</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="private-tab" data-toggle="tab" href="#private" role="tab" aria-controls="private" aria-selected="false">Private</a>
      </li>
    </ul>

    <!-- Add the tab content -->
  <div class="tab-content" id="storyTabsContent">
    <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
      <!-- Table for all stories -->
      {% include 'main/story_table.html' with files=zipped fullstories=all_stories_numbering %}
      {% include 'main/pagination.html' with stories=all_stories page_query_param='page_all' %}
    </div>

    <div class="tab-pane fade" id="public" role="tabpanel" aria-labelledby="public-tab">
      <!-- Table for public stories -->
      {% include 'main/story_table.html' with files=public_stories %}
      {% include 'main/pagination.html' with stories=public_stories page_query_param='page_public' %}
    </div>

    <div class="tab-pane fade" id="in-review" role="tabpanel" aria-labelledby="in-review-tab">
      <!-- Table for `in review` stories -->
      {% include 'main/story_table.html' with files=in_review_stories %}
      {% include 'main/pagination.html' with stories=in_review_stories page_query_param='page_review' %}
    </div>

    <div class="tab-pane fade" id="rejected" role="tabpanel" aria-labelledby="rejected-tab">
      <!-- Table for `in review` stories -->
      {% include 'main/story_table.html' with files=rejected_stories %}
      {% include 'main/pagination.html' with stories=rejected_stories page_query_param='page_rejected' %}
    </div>

    <div class="tab-pane fade" id="private" role="tabpanel" aria-labelledby="private-tab">
      <!-- Table for private stories -->
      {% include 'main/story_table.html' with files=private_stories %}
      {% include 'main/pagination.html' with stories=private_stories page_query_param='page_private' %}
    </div>

  </div>
  
    <div class="contact-btn">
    <a
      class="btn btn-lg btn-outline-primary float-right"
      href="https://docs.google.com/forms/d/e/1FAIpQLSe_9MW3r4nsGUDxGWN24X88hqtz6q_347DC1gbMc_Yzj2Hrcg/viewform?fbzx=6470416391260718913" rel="noopener noreferrer"
      target="_blank">Contact Moderators
    </a>
    </div>


</section>

<script src="{% static 'js/store-tab.js' %}"></script>

{% endblock %}

