{% extends 'main/application.html' %}

{% block title %}AutSPACEs - Experience saved! 🎉 {% endblock %}

{% load static %}
{% load custom_tags %}
{% load humanize %}

{% block content %}


<section class="confirmation">
  <div class="confirmation-container">
    <div class="confirm_success">
      <h1 class="big-heading title-text-yellow">
        Success!
      </h1>

      <p class="confirmation-title-text">
        Thank you for {% firstof request.session.confirm_story "unknown story action" %} your experience.
      </p>
    </div>
 </div>
    <div class="what-now-section">
      <p class="confirmation-section-heading">
        What happens now ?</p>
      <div class="what-now-text">
          <ul>
          <li><p class="text">
            {% firstof request.session.confirm_story_privacy "Your story privacy status is unknown" %}
          </p></li>

          <li><p class="text">
            {% firstof request.session.confirm_story_research "Your decision to share your story with researchers is unknown"%}
          </p></li>
            </ul>
      </div>
    </div>

    <div class="to-do-container">
      <p class="to-do-heading">
        What would you like to do next ?
      </p>

      <div class="btn-class-confirmationpage">
        <a href="{% url 'main:share_exp' %}" class="btn btn-outline-primary btn-lg btn-confirmationpage">
          Enter Another Experience
        </a>

        <a href="{% url 'main:my_stories' %}" class="btn btn-outline-primary btn-lg btn-confirmationpage">
          Go To My Stories
        </a>

        <a href="{% url 'main:public_experiences' %}" class="btn btn-outline-primary btn-lg btn-confirmationpage">
          View Other Stories
        </a>

        <a href="{% url 'main:about_us' %}" class="btn btn-outline-primary btn-lg btn-confirmationpage">
          Find Out More About AutSPACEs
        </a>

      </div>
    </div>
  </div>

</section>
</div>

{% endblock %}
