{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block content %}

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8"/>
  <meta
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
    name="viewport"
  />
  <!-- Bootstrap CSS -->
  <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">

  <!--Google Fonts-->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,300&display=swap"
        rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic" rel="stylesheet" type="text/css">

  <!--    Stylesheet-->
  <link href="{% static '/css/sharestories.css' %}" rel="stylesheet">
  <title>Share Stories</title>
</head>

<body>
<!--  Intro-->
<section id="intro">
  {% include 'main/partials/navigation.html' %}
</section>

<!--Share Experiences Form-->
<section id="share-form">
  <div class="row">
    <div class="container story-section">
      <form action="{% url 'main:upload' %}" class="form-context" method="post">
        {% csrf_token %}
        <div class="form-group story-content row">
          <label for="story">
            <h3>Please share your story</h3></label>
          <textarea
            class="form-control"
            id="story"
            name="story"
            placeholder="Write your story here"
            rows="4"
          ></textarea>
        </div>

        <div class="form-group suggestion-content row">
          <label for="wish_different"
          ><h3>
            Suggestions for what could have made your story better
          </h3></label
          >
          <textarea
            class="form-control"
            id="wish_different"
            name="wish_different"
            placeholder="Write your suggestions here"
            rows="4"
          ></textarea>
        </div>

        <div class="form-group title-content row">
          <label for="wish_different"
          ><h3>
            Choose a title for your story
          </h3></label
          >
          <textarea
            class="form-control"
            id="wish_different"
            name="wish_different"
            placeholder="Title"
            rows="1"
          ></textarea>
        </div>

        <!--        Triggering Contents-->
        <div class="form-group row">
          <label><h3>Triggering labels</h3></label>

        <div class="row triggering-section">
          <div class="col-lg-6">
            <div class="form-check form-check-inline">
              <input class="form-check-input" id="trigger-label1" name="inlineRadioOptions" type="checkbox"
                     value="option1">
              <label class="form-check-label" for="trigger-label1">Abuse (physical, sexual, emotional and
                verbal)</label>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-check form-check-inline">
              <input class="form-check-input" id="trigger-label2" name="inlineRadioOptions" type="checkbox"
                     value="option2">
              <label class="form-check-label" for="trigger-label2">Violence and Assault</label>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-check form-check-inline">
              <input class="form-check-input" id="trigger-label3" name="inlineRadioOptions" type="checkbox"
                     value="option3">
              <label class="form-check-label" for="trigger-label3">Drug and/or Alcohol use</label>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="form-check form-check-inline">
              <input class="form-check-input" id="trigger-label4" name="inlineRadioOptions" type="checkbox"
                     value="option3">
              <label class="form-check-label" for="trigger-label4">Mental Health Issues</label>
            </div>
          </div>

          <div class="col-lg-6">

            <div class="form-check form-check-inline">
              <input class="form-check-input" id="trigger-label5" name="inlineRadioOptions" type="checkbox"
                     value="option3">
              <label class="form-check-label" for="trigger-label5">Negative body image</label>
            </div>
          </div>

          <div class="col-lg-6">
            <input placeholder="Other" type="text">
          </div>
        </div>
 </div>
        <!--        Sharing Options-->
        <div class="form-group row">
          <h3>Sharing options</h3>
          <div class="container sharing-section" style="padding-left: 0px">
            <div class="col-lg-12" style="padding-left: 0px">
              <div class="form-check">
                <input
                  class="form-check-input"
                  id="viewable"
                  name="viewable"
                  type="checkbox"
                  value="viewable"
                />
                <label class="form-check-label" for="viewable">
                  Share with the world by publishing on the AutSPACE website
                </label>
              </div>
              <div class="form-check">

                <input
                  class="form-check-input"
                  id="research"
                  name="research"
                  type="checkbox"
                  value="research"
                />
                <label class="form-check-label" for="research">
                  Share for research
                </label>
              </div>

            </div>
          </div>
        </div>
        <div class="form-group">
          <button
            class="btn btn-outline-dark btn-lg float-right"
            type="submit"
            value="Submit"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
<!--Footer-->
<section id="footer">
  {% include 'main/partials/footer.html'%}
</section>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
{% include 'main/partials/jquery.html' %}

</html>

{% endblock %}
