{% load static %}
<!DOCTYPE html>
<html lang="en">
 {% block content %}

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

     <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic" rel="stylesheet" type="text/css">

    <title>Share Experiences</title>

  </head>

  <body>
<!--  Intro-->
  <section id="intro">
    {% include 'main/partials/navigation.html' %}

  </section>
    <form method="post" action="{% url 'main:upload' %}" class="form-context">
      {% csrf_token %}
      <div class="form-group">
        <label for="experience"><h4>Please share your experience</h4></label>
        <textarea
          class="form-control"
          id="experience"
          name="experience"
          placeholder="Write your experience here"
          rows="6"
        ></textarea>
      </div>
      <br />
      <div class="form-group">
        <label for="wish_different"
          ><h4>
            Suggestions for what could have made your experience better
          </h4></label
        >
        <textarea
          class="form-control"
          id="wish_different"
          name="wish_different"
          placeholder="Write your suggestions here"
          rows="6"
        ></textarea>
      </div>
      <br />
      <h4>
        You can choose who to share your experience with by selecting one or
        more of the options below:
      </h4>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value="viewable"
          id="viewable"
          name="viewable"
        />
        <label class="form-check-label" for="viewable">
          Share with the world by publishing on the AutSPACE website.
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value="research"
          id="research"
          name="research"
        />
        <label class="form-check-label" for="research">
          Share for research
        </label>
      </div>
      <br />
      <div class="form-group">
        <button
          class="btn btn-colour btn-lg active"
          type="submit"
          value="Submit"
        >
          Submit
        </button>
      </div>
    </form>

  <section id="footer">
  {% include 'main/partials/footer.html'%}
  </section>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
 {% include 'main/partials/jquery.html' %}

</html>

{% endblock %}
