{% extends 'main/application.html' %}

{% block title %}AutSPACEs - {{ title }} {% endblock %}

{% load static %}
{% load custom_tags %}
{% load humanize %}

{% block content %}

<section id="single_story">

  <div class="container story-section">
    {% if experience.abuse or experience.violence or experience.drug or experience.mentalhealth or experience.negbody or experience.other %}
    <div class="row">
    <div class="col-lg-12 float-right ">
    {% if experience.abuse and experience.violence and experience.drug and experience.mentalhealth and experience.negbody and experience.other %}
      <span class="badge badge-warning float-right" style="font-size: 1rem; margin-top:1%; margin-left:1%;">{{experience.other}}</span>
      <span class="badge badge-warning float-right" style="font-size: 1rem; margin-top:1%; margin-left:1%;">All trigger warnings selected</span>
    {% else %}
      {% if experience.other %}
      <span class="badge badge-warning float-right" style="font-size: 1rem; margin-top:1%; margin-left:1%;">{{experience.other}}</span>
      {% endif %}
      {% if experience.mentalhealth %}
      <span class="badge badge-warning float-right" style="font-size: 1rem; margin-top:1%; margin-left:1%;">Mental Health issues</span>
      {% endif %}
      {% if experience.violence %}
      <span class="badge badge-warning float-right" style="font-size: 1rem; margin-top:1%; margin-left:1%;">Violence</span>
      {% endif %}
      {% if experience.negbody %}
      <span class="badge badge-warning float-right" style="font-size: 1rem; margin-top:1%; margin-left:1%;">Negative body image</span>
      {% endif %}
      {% if experience.drug %}
      <span class="badge badge-warning float-right" style="font-size: 1rem; margin-top:1%; margin-left:1%;">Drug and/or Alcohol misuse</span>
      {% endif %}
      {% if experience.abuse %}
      <span class="badge badge-warning float-right" style="font-size: 1rem; margin-top:1%; margin-left:1%;">Abuse</span>
      {% endif %}
    {% endif %}
    </div>
    </div>
    {% endif %}



    <div class="container story-section">
    <h2>Title: <i>{% firstof experience.title_text "No Title Given" %}</i></h2>

    <h3>Experience</h3>
    <p><i>{% firstof experience.experience_text "No Experience Text Given" %}</i></p>

    <h3>What could have made the experience better?</h3>
    <p><i>{% firstof experience.difference_text "No Difference Text Given" %}</i></p>
    </div>

  </div>


</section>

{% endblock %}
