{% extends 'main/application.html' %}

{% block title %}AutSPACEs - {{ title }} {% endblock %}

{% load static %}
{% load custom_tags %}
{% load humanize %}

{% block content %}

<section id="single_story">

  <div class="container story-section">

    {% if experience.abuse or experience.violence or experience.drug or experience.mentalhealth or experience.negbody or experience.other %}
    <div class="container story-section">
    <span class="badge badge-warning float-right" style="font-size: 1rem; margin-top:2%">Includes triggering contents</span>
    </div>
    {% endif %}


    <div class="container story-section">
    <h2>Title: <i>{% firstof experience.title_text "No Title Given" %}</i></h2>

    <h3>Experience</h3>
    <p><i>{% firstof experience.experience_text "No Experience Text Given" %}</i></p>

    <h3>What could have made the experience better?</h3>
    <p><i>{% firstof experience.difference_text "No Difference Text Given" %}</i></p>
    </div>

  </div>


</section>

{% endblock %}
