{% extends 'main/application.html' %}

{% block title %}AutSPACEs - {{ title }} {% endblock %}

{% load static %}
{% load custom_tags %}
{% load humanize %}

{% block content %}

<section id="single_story">

  <div class="container story-section">
    {% if experience.abuse or experience.violence or experience.drug or experience.mentalhealth or experience.negbody or experience.other %}
    <div class="row">
    <div class="col-lg-12 float-end ">
    {% if experience.abuse and experience.violence and experience.drug and experience.mentalhealth and experience.negbody and experience.other %}
      <span class="badge text-bg-warning float-end" style="font-size: 1rem; margin-top:1%; margin-left:1%;">{{experience.other}}</span>
      <span class="badge text-bg-warning float-end" style="font-size: 1rem; margin-top:1%; margin-left:1%;">All trigger warnings selected</span>
    {% else %}
      {% if experience.other %}
      <span class="badge text-bg-warning float-end" style="font-size: 1rem; margin-top:1%; margin-left:1%;">{{experience.other}}</span>
      {% endif %}
      {% if experience.mentalhealth %}
      <span class="badge text-bg-warning float-end" style="font-size: 1rem; margin-top:1%; margin-left:1%;">Mental Health issues</span>
      {% endif %}
      {% if experience.violence %}
      <span class="badge text-bg-warning float-end" style="font-size: 1rem; margin-top:1%; margin-left:1%;">Violence</span>
      {% endif %}
      {% if experience.negbody %}
      <span class="badge text-bg-warning float-end" style="font-size: 1rem; margin-top:1%; margin-left:1%;">Negative body image</span>
      {% endif %}
      {% if experience.drug %}
      <span class="badge text-bg-warning float-end" style="font-size: 1rem; margin-top:1%; margin-left:1%;">Drug and/or Alcohol misuse</span>
      {% endif %}
      {% if experience.abuse %}
      <span class="badge text-bg-warning float-end" style="font-size: 1rem; margin-top:1%; margin-left:1%;">Abuse</span>
      {% endif %}
    {% endif %}
    </div>
    </div>
    {% endif %}



    <div class="container story-section">
    <h2>Title: <i>{% firstof experience.title_text "No Title Given" %}</i></h2>
    {% if placeholder %}
    <em>Example story</em>
    {% else %}
      {% if experience.first_hand_authorship %}
        {% if experience.open_humans_member.user.userprofile.autistic_identification == 'yes' %}
          <em>Autistic individual</em>
        {% elif experience.open_humans_member.user.userprofile.autistic_identification == 'no' %}
          <em>Non-autistic individual</em>
        {% else %}
          <em>User has not answered if they identify as autistic</em>
        {% endif %}
      {% else %}
        <em>{% firstof experience.authorship_relation "AutSPACEs Contributor" %}</em>
      {% endif %}
    {% endif %}

    <h3>Experience</h3>
    <p><i>{% firstof experience.experience_text "No Experience Text Given" %}</i></p>

    <h3>What could have made the experience better?</h3>
    <p><i>{% firstof experience.difference_text "No Difference Text Given" %}</i></p>
    </div>
    
    <a
    class="btn btn-primary"
    {% if request.META.HTTP_REFERER %}
    href="{{ request.META.HTTP_REFERER }}"
    {% else %}
    href="{% url 'main:public_experiences' %}"
    {% endif %}
    >
    Back to list of stories
    </a>

  </div>





</section>

{% endblock %}
