<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
  <!--  Stylesheet-->

  <!-- Bootstrap CSS -->
  <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
  <!--Google Fonts-->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,300&display=swap"
        rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic" rel="stylesheet" type="text/css">
  <title>AutSPACEs What Autism Is Page</title>
</head>
<style>
  body  {
    background: #F1806F;

  }
</style>
<body>
<!-- Navigation-->
<section id="navigation">
  {% include 'main/partials/navigation.html' %}
  <div class="container-fluid">
  {% block content %}

  </div>
</section>


<!-- Footer-->
<footer id="footer">
  {% include 'main/partials/footer.html' %}
  <div class="row">

  {% endblock %}
  </div>

</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
{% include 'main/partials/jquery.html' %}
</body>
</html>
