{% extends 'main/application.html' %}
{% load static %}
{% block title %}AutSPACEs - About autism? {% endblock %}

{% block body_attributes%} {% endblock %}

{% block content %}

<script src="{% static 'js/menu-alignment.js' %}"></script>

<!--Contents-->
<section id="content">
  <div class="container-fluid">
    <div class="row">
      <div id="menu-container" class="col-lg-3">
        <div id="content-bar-filler" class="col-lg-3">
        <!-- Space filler to avoid the main text shifting leftwards -->
        </div>
        <div id="content-bar" class="list-group col-lg-3 content-list">
          <div class="list-group-item content-title fw-bold">Contents</div>
          <a class="list-group-item list-group-item-action  d-flex justify-content-between align-items-center"
              href="#about-autspaces">What is autism?<span class="badge badge-pill"></span></a>
          <a class="list-group-item list-group-item-action  d-flex justify-content-between align-items-center"
              href="#platform-usage">About sensory processing<span class="badge badge-pill"></span></a>
        </div>
      </div>

    <div id="text-container" class="about-content col-lg-9" style="padding: 2% 8%">
      <div class="about-autism">
        <h5 class="heading-blue" id="about-autspaces">What is autism?</h5>
        <p>
          Autism is a life-long neurodevelopmental condition, meaning it involves the brain. 
          It affects the way people communicate and experience the world.
        </p>
        <p>
          Autistic brains find processing more difficult than those of non-autistic people. 
          That can relate to interaction with other humans, physical and emotional stimuli or things like change and uncertainty. 
          It also means autistic people tend to enjoy the simple reliability of routines and patterns.
        </p>

        <p>
          Each autistic person has their own unique set of challenges and strengths. 
          There’s no fix or cure, but that’s fine because autistic people aren’t broken, just different.
          Many can learn, live and work independently, while others have learning disabilities or co-occurring 
          health conditions that require specialist support.
        </p>

        <p>"It’s just the way I process the world, it can give me challenges, but it gives me great joy too. I wouldn’t
          be me without it!"</p>
        <p><em>Rhi, autistic adult</em></p>

        <p><strong>Asperger’s or autism?</strong></p>
        <p>
          Some autistic people were diagnosed with Asperger’s Syndrome and 
          continue to use this name for their condition. Others choose not to call it this because 
          Hans Asperger, whose work it commemorates, was linked to the Nazi eugenics programme.
        </p>
        <p><strong>Is it okay to self-diagnose?</strong></p>
        <p>
          Absolutely. Some autistic people are diagnosed by a health professional as children or adults. 
          Others are self-diagnosed. Not everyone wants, or is able to access, formal diagnosis. 
          NHS waiting lists are long and private assessment is expensive.
        </p>
        <p>
          If you live in England, under the right-to-choose pathway, you have a legal right to be 
          referred for private assessment paid for by the NHS, but this can 
          still involve a significant wait. 
          Unfortunately, right-to-choose doesn’t operate elsewhere in the UK.
        </p>
        <p>
          <div class="row">
            <div class="col">
              <a class="btn btn-outline-primary float-end"
                href="https://www.autistica.org.uk/what-is-autism/what-is-autism"
                target="_blank" rel="noopener noreferrer" >
                Find Out more from Autistica
              </a>
            </div>
          </div>
        </p>
      </div>
      <div class="about-autism">
        <h5 class="heading-blue" id="platform-usage"><em></em>About Sensory processing</h5>
        <p>Sensory processing is the way our brains and bodies interpret the world around us using information supplied by our senses.</p>
        <p>Researchers have found that up to nine out of ten autistic people have sensory processing differences to non-autistic people. This can mean their senses are more or less sensitive – or both, at different times – making all sorts of places and situations trickier to negotiate.</p>
        <p>Each autistic person experiences the world differently. Some might struggle to concentrate or become distressed because they can’t ignore sounds others don’t seem to notice.</p>
        <p>Bright lights or strong smells might cause headaches, while direct eye contact and the touch of others, from handshakes to hugs, could feel deeply intrusive. Some might have difficulty recognising when they’re in pain.</p>
        <p>Autistic difference can be an advantage, too, if it means pleasurable sensations are more intense.</p>
        <p>
          Sight, hearing, smell, taste and touch are not the only senses. Others include:
          <ul>
            <li>The sense of your body, its movement and position, known as proprioception;</li>
            <li>The sense of balance, or equilibrioception;</li>
            <li>The perception of pain, or nociception;</li>
            <li>The perception of hot and cold, or thermoception;</li>
            <li>The sense of time passing, or chromoception.</li>
          </ul>
        </p>
        <p>
          Any or all of these can be different for autistic people. Sharing stories of how they affect day-to-day life will give decision-makers the information they need to change all sorts of spaces for the better.
        </p>
        <p>
          <div class="row">
            <div class="col">
              <a class="btn btn-outline-primary view-btn float-end"
                href="https://www.autism.org.uk/advice-and-guidance/topics/sensory-differences/sensory-differences/all-audiences"
                target="_blank" rel="noopener noreferrer">
                Find out more from the National Autistic Society
              </a>
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>

</section>

{%endblock%}
