@charset "UTF-8";

/*<!-- DESIGN COLORS-->
<!--  #309FDC blue
      #1BB5AF
      #F9BB33 mango yellow
      #F1806F strawberry red
      #F2F2F2 light grey -->*/
* {
  font-family: 'Poppins', 'PT-Serif';
  font-weight: 400;
}

a:hover {
  font-weight: 600 !important;
  transition: 0.3s;
}

img {
  margin: 2px 10px;
}

form {
  text-align: center;
  font-size: x-large;
}

.container-fluid {
  padding: 2% 5% 8%;
  background: #F1806F;
  color: #fff;
}

.navbar {
  padding: 0 0 4rem;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-nav {
  font-size: 1rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 25px;
  font-weight: bold;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: bold;
}

h1 {
  font-size: 5rem;
  font-weight: bold;
}

h2 {
  font-size: 3rem;
  font-weight: bold;
}

h3 {
  font-size: 2rem;
  line-height: 2;
  font-weight: bold;
  padding-bottom: 3%;
}

h4 {
  line-height: 1.5;
  padding-bottom: 3%;
}

p {
  color: #8f8f8f;
  line-height: 2;
  font-size: 18px;
}

em {
  color: #8f8f8f;
}

.title-image {
  width: 65%;
  margin-left: 33%;
  border-radius: 5%;
}

.read-more {
  margin: 1% 1% 1% 1%;
}

#value {
  background: #F2F2F2;
  padding: 1% 7%;
}

.value-box {
  text-align: center;
  padding: 5%;
}

#autism {
  background: #F9BB33;
  padding: 6% 5% 8% 5%;
  color: #fff;
}

#experience {
  padding: 5% 0 5% 5%;
}

.experience-image {
  width: 50%;
  padding-right: 5%;
}

.carousel-item {
  padding: 5% 10%;
  height: 550px;
}

.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
}

.carousel-indicators {
  filter: invert(100%);
}

#platform_usage {
  background: #309FDC;
  padding: 6% 5% 8% 5%;
  color: #ffffff;
}

.platform-box {
  text-align: center;
  padding: 2% 0;
}

.platform-box p {
  color: #ffffff;
}

#cta {
  padding: 3% 5% 5%;
  color: #000;
}

.cta-card {
  padding: 2% 2%;
  text-align: center;
}

.card-header {
  background-color: #1BB5AF;
  color: #fff;
}

#footer {
  background: #F2F2F2;
  padding: 1% 5%;
}

.footer-column {
  padding: 0% 3%;
}

.footer-image {
  margin-bottom: 5%;
}

.footer-column p {
  padding-top: 1%;
  line-height: 0.5;
}

.footer-text {
  padding: 0% 3%;
  text-align: left;
}

.footer-text p {
  padding-top: 1%;
  line-height: 0.5;
}

@media (max-width: 992px) {

  h1 {
    text-align: center;
  }

  .container-fluid {
    padding-bottom: 10%;
    text-align: center;
  }

  .title-image {
    margin-left: 0;
  }

  #value {
    padding: 2% 0;
  }

  .value-box {
    padding: 2%;
  }

  .value-box p {
    font-size: 1.5rem;
  }
}

