<!DOCTYPE html>
<html>
<link rel="stylesheet" href="experience.css">
	<nav>
		<ul>
			<!-- list of all the items in nav bar -->
			<li>
				<a href="#" id="about">ABOUT</a>
			</li>
			<li>
				<a href="#" id="share">Share</a>
			</li>
			<li>
				<a href="#" id="login">Login</a>
			</li>

		</ul>
	</nav>
	
	<h1>Explore</h1>
	<p>Here you can view the experiences and suggestions of other people</p>
	<form>
		<input type="text" name="search" placeholder="Search">
	</form>
	<a id="newrect"></a>
	<a id="greenrect"></a>
	<a id="redrect"></a>
	<a id="bluerect"></a>
	<p style="position: absolute;width: 180.41px;height: 92.87px;left: 197px;top: 651px;font-family: Roboto;font-style: normal;
		font-weight: normal;font-size: 24px;line-height: 28px;color: #000000;">DATE</p>
	<p style="position: absolute;width: 180.41px;height: 92.87px;left: 394px;top: 651px;
		font-family: Roboto;font-style: normal;font-weight: normal;font-size: 24px;line-height: 28px;color: #000000;">PERSON'S AUTISM CONNETION</p>
	<p style="position: absolute; width: 99px; height: 39px;left: 214px;top: 961px;font-family: Roboto;font-style: normal;font-weight: normal;font-size: 24px;
		line-height: 28px;color: #000000;">July 21</a>
	<p style="position: absolute;width: 137px; height: 13px;left: 336px; top: 962px;font-family: Roboto;
		font-style: normal;font-weight: normal;font-size: 24px;line-height: 28px;color: #000000;">Researcher</a>
	<p style="position: absolute; width: 503px;height: 38px;left: 532px;top: 969px;
		font-family: Roboto;font-style: normal;font-weight: normal;font-size: 24px;line-height: 28px;color: #000000;">Me and Timmy had some Ice Cream, 
		and I decided to drop mine for the lolz. Timmy just watched me, mouth agape.</a>
	<p style="position: absolute; width: 581px;height: 135px;left: 429px;top: 1183px;
	font-family: Roboto;font-style: normal;font-weight: normal;font-size: 24px;line-height: 28px;color: #000000;">[list view with snippet view of entered expeeriences]</a>
</html>