* {
    font-family: 'Poppins', 'PT-Serif';
    font-weight: 400;
  }

body {
    position: relative;
}

#content-bar {
 padding: 2% 0 0% 5%;
}

.content-tile {
    font-size: 2.5em;
    font-weight: bold;
}
.list-group-item-action{
  font-size: 1em;
    /*font-weight: bold;*/
}

.text-info {
    font-size: 2.5em;
    font-weight: bold;
  padding-bottom: 2%;
}

.platform-list-title {
  font-size: 1.5rem;
}
