* {
  font-family: 'Poppins', 'PT-Serif';
  font-weight: 400;
}

body {
  position: relative;
}

.big-heading {
  font-size: 4rem;
  font-weight: bold;
  color: #F9BB33;
}

.title-text {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 1%;
  color: #F9BB33;
}

.what-now-section {
  background-color: #309FDC;
}

.section-heading {
  font-size: 3rem;
  font-weight: bold;
  padding: 2% 5% 0% 5%;
  color: #fff;
}

.what-now-text {
  padding: 2% 5%;
  line-height: 1.5;
  font-size: 18px;
  color: #fff;
}

.confirmation-container {
  padding: 3% 5% 1% 5%;
}

.to-do-container {
  padding: 3% 5% 1% 5%;
}

.to-do-heading {
  font-size: 3rem;
  font-weight: bold;
  color: #1BB5AF;
}

.btn-class {
  padding: 2% 0;
}


.btn {
  width: autho;
  margin: 0 1%;
}
