 /*Navigation*/
 * {
    font-family: 'Poppins', 'PT-Serif';
    font-weight: 400;
  }
 .nav-section {
   padding-top: 1%;
   background: #1BB5AF;
 }

  .nav-content {
    font-weight: bold;
    font-size: 1.3rem;
  }


  .nav-item {
    padding: 0 25px;
  }
  .nav-link:hover {
    color:#000 !important;
  }


