* {
    font-family: 'Poppins', 'PT-Serif';
    font-weight: 400;
  }

.story-section {
  padding: 3% 5%;
}

.form-group {
  padding: 1% 0;
}

  .read-before-container {
    padding-top: 2%;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

.coc-btn {
  margin-bottom: 3%;
}
