* {
    font-family: 'Poppins', 'PT-Serif';
    font-weight: 400;
  }
.story-container {
  padding: 3% 5%;
  background-color: #F9BB33;
  color: #fff;
}
  /*Texts*/
  .big-heading {
    font-size: 4rem;
    font-weight: bold;
  }

    .intro-text {
    font-size: 1.5rem;
    line-height: 2;
    font-weight: bold;
  }

  ul {
    padding-left: 20px;
  }
  li {
        font-size: 1rem;
  }
  .story-dashboard {
    padding: 3% 5%;
  }
  .dashboard-heading {
    font-size: 3rem;
    font-weight: bold;
  }
