interactions:
- request:
    body: project_member_id=1234&file_id=1337
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://www.openhumans.org/api/direct-sharing/project/files/delete/?access_token=foo
  response:
    body: {string: '{"ids":[1337]}'}
    headers:
      Allow: ['POST, OPTIONS']
      Content-Language: [en]
      Content-Type: [application/json]
      Last-Modified: ['Tue, 06 Mar 2018 04:33:38 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://www.openhumans.org/api/direct-sharing/project/exchange-member/?access_token=foo
  response:
    body: {string: '{"created":"2018-01-19T21:55:40.049169Z","project_member_id":"12345678","message_permission":true,"sources_shared":[],"data":[{"id":12345,"basename":"file_1","created":"2018-03-05T18:39:09.932067Z","download_url":"https://mytest.s3.amazonaws.com/member-files/direct-sharing-1337/7e3a0b60-20a4-11e8-8e3d-4a700bd48bfa/file_1?Signature=mysignature&Expires=1520291000&AWSAccessKeyId=ABCDEFGHIJ","metadata":{"tags":["foo","bar","baz"],"description":"foo"},"source":"direct-sharing-73"}]}'}
    headers:
      Allow: ['GET, HEAD, OPTIONS']
      Content-Language: [en]
      Content-Type: [application/json]
      Last-Modified: ['Mon, 05 Mar 2018 22:15:42 GMT']
    status: {code: 200, message: OK}
version: 1
