interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.openhumans.org/api/direct-sharing/project/exchange-member/
  response:
    body:
      string: '{"count":4,"next":null,"previous":null,"created":"2023-04-03T14:09:46.906398Z","project_member_id":"39896706","sources_shared":[],"data":[{"id":63958265,"basename":"c72743e2-d229-11ed-99b0-0242ac140003.json","created":"2023-04-04T08:18:13.696771Z","datatypes":[],"download_url":"https://www.openhumans.org/data-management/datafile-download/63958265/?key=0512b6e2-8e71-4ae2-aa77-cc2fb5148652","metadata":{"data":{"drug":false,"abuse":false,"other":"","negbody":false,"research":false,"viewable":true,"violence":false,"mentalhealth":false,"experience_id":"c72743e2-d229-11ed-99b0-0242ac140003","moderation_status":"approved","open_humans_member":"39896706"},"tags":["non-research","public"],"uuid":"c72743e2-d229-11ed-99b0-0242ac140003","timestamp":"2023-04-04
        08:18:12.889809","description":"Experiences"},"source":"direct-sharing-1330","source_project":"https://www.openhumans.org/api/public/project/1330/"},{"id":63958266,"basename":"be683784-d23d-11ed-becb-0242ac140003.json","created":"2023-04-04T08:18:24.980311Z","datatypes":[],"download_url":"https://www.openhumans.org/data-management/datafile-download/63958266/?key=cffb6bcc-b05e-4584-9c21-98da6c85cb9f","metadata":{"data":{"drug":false,"abuse":false,"other":"","negbody":true,"research":false,"viewable":true,"violence":false,"mentalhealth":false,"experience_id":"be683784-d23d-11ed-becb-0242ac[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.openhumans.org/data-management/datafile-download/63969007/?key=851fe98f-9d29-475d-ac05-5b6428e25309
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://open-humans-production.s3.amazonaws.com/member-files/direct-sharing-1330/01234567-89ab-cdef-0123-456789abcdef/01234567-89ab-cdef-0123-456789abcdef.json?AWSAccessKeyId=ABCDEFGHIJKLMNOPQRST&Signature=43gw66thjfgdget34DFe1b%2F5G6FDd7H%3D&Expires=1680617915&x-oh-key=01234567-89ab-cdef-0123-456789abcdef
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://open-humans-production.s3.amazonaws.com/member-files/direct-sharing-1330/01234567-89ab-cdef-0123-456789abcdef/01234567-89ab-cdef-0123-456789abcdef.json?AWSAccessKeyId=ABCDEFGHIJKLMNOPQRST&Signature=43gw66thjfgdget34DFe1b%2F5G6FDd7H%3D&Expires=1680617915&x-oh-key=01234567-89ab-cdef-0123-456789abcdef
  response:
    body:
      string: '{"data": {"experience_text": "Experience text", "difference_text":
        "Difference text", "title_text": "Title text", "abuse": false, "violence":
        false, "drug": false, "mentalhealth": false, "negbody": false, "other": "Topic",
        "viewable": false, "research": false, "moderation_status": "not reviewed"},
        "timestamp": "2023-04-04 13:19:50.571267"}'
    headers:
      Content-Type:
      - binary/octet-stream
      Last-Modified:
      - Tue, 04 Apr 2023 13:19:52 GMT
    status:
      code: 200
      message: OK
version: 1
