interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.openhumans.org/api/direct-sharing/project/exchange-member/
  response:
    body:
      string: '{"count":14,"next":null,"previous":null,"created":"2022-11-11T10:55:22.058691Z","project_member_id":"40945085","sources_shared":[],"data":[{"id":65477136,"basename":"7edf04cc-e9fc-11ed-924d-0242ac140003.json","created":"2023-05-03T22:04:14.980274Z","datatypes":[],"download_url":"https://www.openhumans.org/data-management/datafile-download/65477136/?key=d068b855-6fd4-4a6b-8639-48902acc20f5","metadata":{"data":{"drug":false,"abuse":false,"other":"","negbody":false,"research":false,"viewable":true,"violence":false,"mentalhealth":false,"experience_id":"7edf04cc-e9fc-11ed-924d-0242ac140003","moderation_status":"approved","open_humans_member":"40945085"},"tags":["non-research","public"],"uuid":"7edf04cc-e9fc-11ed-924d-0242ac140003","timestamp":"2023-05-03
        22:04:14.087956","description":"Eating in a restaurant"},"source":"direct-sharing-1111","source_project":"https://www.openhumans.org/api/public/project/1111/"},{"id":65477143,"basename":"8c094f30-e9fd-11ed-ae23-0242ac140003.json","created":"2023-05-03T22:04:32.757127Z","datatypes":[],"download_url":"https://www.openhumans.org/data-management/datafile-download/65477143/?key=9b765f10-53b5-47b3-86a6-eb0224f0503c","metadata":{"data":{"drug":false,"abuse":false,"other":"","negbody":false,"research":false,"viewable":true,"violence":false,"mentalhealth":false,"experience_id":"8c094f30-e9fd-11ed-ae23-0242a[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.openhumans.org/data-management/datafile-download/66140448/?key=b3e05a85-16cd-418c-8963-e5b3d3222aee
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://open-humans-production.s3.amazonaws.com/member-files/direct-sharing-1111/3453bb1a-f950-11ed-993a-ee1a327c313c/33b30e22-f950-11ed-8488-0242ac140004.json?AWSAccessKeyId=AKIAIKNTFUJJTNS6N7HA&Signature=72ilhuDCcaINpgDJYn38AIOneMM%3D&Expires=1684839536&x-oh-key=b3e05a85-16cd-418c-8963-e5b3d3222aee
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://open-humans-production.s3.amazonaws.com/member-files/direct-sharing-1111/3453bb1a-f950-11ed-993a-ee1a327c313c/33b30e22-f950-11ed-8488-0242ac140004.json?Expires=1684839536&Signature=72ilhuDCcaINpgDJYn38AIOneMM%3D&x-oh-key=b3e05a85-16cd-418c-8963-e5b3d3222aee
  response:
    body:
      string: '{"data": {"experience_text": "This is a local and remote short story for testing",
        "difference_text": "With few local and remote words", "title_text": "And a local and remote title", "abuse":
        false, "violence": false, "drug": false, "mentalhealth": false, "negbody":
        false, "other": "", "viewable": true, "research": true, "moderation_status":
        "approved"}, "timestamp": "2023-05-23 09:57:17.853160"}'
    headers:
      Content-Type:
      - binary/octet-stream
      ETag:
      - '"488acdb328485c0c4be337f66e8ec343"'
      Last-Modified:
      - Tue, 23 May 2023 09:57:20 GMT
      x-amz-request-id:
      - 09PNHJ99YTZF9SNG
      x-amz-server-side-encryption:
      - AES256
      x-amz-version-id:
      - kr1oqeTSj68NRa0PV3PuCPyj3CqodcAq
    status:
      code: 200
      message: OK
version: 1
