interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.openhumans.org/api/direct-sharing/project/exchange-member/
  response:
    body:
      string: "{\"count\":4,\"next\":null,\"previous\":null,\"created\":\"2022-11-11T10:55:22.058691Z\",\"project_member_id\":\"40945085\",\"sources_shared\":[],\"data\":[{\"id\":62938625,\"basename\":\"296683b6-bc44-11ed-b1d0-0242ac130003.json\",\"created\":\"2023-03-06T17:27:26.395856Z\",\"datatypes\":[],\"download_url\":\"https://www.openhumans.org/data-management/datafile-download/62938625/?key=4d01af57-ec09-48bf-84a7-49648bbed2cc\",\"metadata\":{\"data\":{\"drug\":false,\"abuse\":false,\"other\":\"\",\"negbody\":false,\"research\":false,\"viewable\":true,\"violence\":false,\"title_text\":\"The
        second of the stories\",\"mentalhealth\":true,\"difference_text\":\"Mr. Bennet
        replied that he had not.\",\"experience_text\":\"\u201CMy dear Mr. Bennet,\u201D
        said his lady to him one day, \u201Chave you heard that Netherfield Park is
        let at last?\u201D\",\"moderation_status\":\"not reviewed\"},\"tags\":[\"\",\"\",\"\",\"mental
        health\",\"\",\"public\",\"non-research\",null],\"uuid\":\"296683b6-bc44-11ed-b1d0-0242ac130003\",\"timestamp\":\"2023-03-06
        17:27:25.680349\",\"description\":\"The second of the stories\"},\"source\":\"direct-sharing-1111\",\"source_project\":\"https://www.openhumans.org/api/public/project/1111/\"},{\"id\":62938647,\"basename\":\"5a46a614-bc44-11ed-9c51-0242ac130003.json\",\"created\":\"2023-03-06T17:28:48.384197Z\",\"datatypes\":[],\"download_url\":\"https://www.openhumans.org/data-management/datafile-download/62938647/?key=6d51ff55-0563-479d-90b5-c3ebe4438ae2\",\"metadata\":{\"data\":{\"drug\":true,\"abuse\":false,\"other\":\"Mrs
        Bennet\",\"negbody\":false,\"research\":false,\"viewable\":true,\"violence\":false,\"title_text[...]
