interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.openhumans.org/api/direct-sharing/project/exchange-member/
  response:
    body:
      string: '{"count":64,"next":null,"previous":null,"created":"2023-04-04T08:41:26.662225Z","project_member_id":"16173130","sources_shared":[],"data":[{"id":64677396,"basename":"9a10a3c0-d3b0-11ed-8a03-0242ac120003.json","created":"2023-04-17T15:50:00.076936Z","datatypes":[],"download_url":"https://www.openhumans.org/data-management/datafile-download/64677396/?key=8c346e7e-6322-4f92-b4e5-adea9b228b21","metadata":{"data":{"drug":false,"abuse":false,"other":"","negbody":false,"research":true,"viewable":false,"violence":false,"mentalhealth":false,"moderation_status":"not
        reviewed"},"tags":["not public","research"],"uuid":"9a10a3c0-d3b0-11ed-8a03-0242ac120003","timestamp":"2023-04-17
        15:49:59.174051","description":"thisstory222"},"source":"direct-sharing-1111","source_project":"https://www.openhumans.org/api/public/project/1111/"},{"id":65404087,"basename":"008acba2-e8c0-11ed-ba38-0242ac120003.json","created":"2023-05-02T08:04:46.875377Z","datatypes":[],"download_url":"https://www.openhumans.org/data-management/datafile-download/65404087/?key=61cc6a5b-39e0-4e81-afdf-9b88319569c1","metadata":{"data":{"drug":false,"abuse":false,"other":"","negbody":false,"research":true,"viewable":false,"violence":false,"mentalhealth":false,"moderation_status":"not
        reviewed"},"t[...]
