interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.openhumans.org/api/direct-sharing/project/exchange-member/
  response:
    body:
      string: '{"count":15,"next":null,"previous":null,"created":"2022-11-11T10:55:22.058691Z","project_member_id":"40945085","sources_shared":[],"data":[{"id":65477136,"basename":"7edf04cc-e9fc-11ed-924d-0242ac140003.json","created":"2023-05-03T22:04:14.980274Z","datatypes":[],"download_url":"https://www.openhumans.org/data-management/datafile-download/65477136/?key=eff7de42-9610-4ac3-b54c-187055d0ac22","metadata":{"data":{"drug":false,"abuse":false,"other":"","negbody":false,"research":false,"viewable":true,"violence":false,"mentalhealth":false,"experience_id":"7edf04cc-e9fc-11ed-924d-0242ac140003","moderation_status":"approved","open_humans_member":"40945085"},"tags":["non-research","public"],"uuid":"7edf04cc-e9fc-11ed-924d-0242ac140003","timestamp":"2023-05-03
        22:04:14.087956","description":"Eating in a restaurant"},"source":"direct-sharing-1111","source_project":"https://www.openhumans.org/api/public/project/1111/"},{"id":65477143,"basename":"8c094f30-e9fd-11ed-ae23-0242ac140003.json","created":"2023-05-03T22:04:32.757127Z","datatypes":[],"download_url":"https://www.openhumans.org/data-management/datafile-download/65477143/?key=803ab5e8-e528-40f3-9e5d-e0dd4af20f5e","metadata":{"data":{"drug":false,"abuse":false,"other":"","negbody":false,"research":false,"viewable":true,"violence":false,"mentalhealth":false,"experience_id":"8c094f30-e9fd-11ed-ae23-0242a[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.openhumans.org/data-management/datafile-download/66141099/?key=a3ea3330-c9e8-42af-ba18-6b37f63e9f27
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://open-humans-production.s3.amazonaws.com/member-files/direct-sharing-1111/7d6dfcb2-f954-11ed-b20c-ee1a327c313c/33b30e22-f950-11ed-8488-0242ac140003.json?AWSAccessKeyId=AKIAIKNTFUJJTNS6N7HA&Signature=HLrExVYYhmGBDalQWARZGeWcl%2BU%3D&Expires=1684849333&x-oh-key=a3ea3330-c9e8-42af-ba18-6b37f63e9f27
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://open-humans-production.s3.amazonaws.com/member-files/direct-sharing-1111/7d6dfcb2-f954-11ed-b20c-ee1a327c313c/33b30e22-f950-11ed-8488-0242ac140003.json?Expires=1684849333&Signature=HLrExVYYhmGBDalQWARZGeWcl%2BU%3D&x-oh-key=a3ea3330-c9e8-42af-ba18-6b37f63e9f27
  response:
    body:
      string: '{"data": {"experience_text": "This is a simple short story for testing",
        "difference_text": "With few words", "title_text": "And a simple title edited",
        "abuse": false, "violence": false, "drug": false, "mentalhealth": false, "negbody":
        false, "other": "", "viewable": true, "research": true, "moderation_status":
        "not reviewed"}, "timestamp": "2023-05-23 10:27:58.599419"}'
    headers:
      Content-Type:
      - binary/octet-stream
      ETag:
      - '"fa66df4766ff9565714d0343651a94a6"'
      Last-Modified:
      - Tue, 23 May 2023 10:28:01 GMT
      x-amz-request-id:
      - ZQTDK2TFXB5KN6V5
      x-amz-server-side-encryption:
      - AES256
      x-amz-version-id:
      - Xxslxbo_bi8S9pS44_XPBqjhJxFLBZst
    status:
      code: 200
      message: OK
version: 1
