{% load static %}

<!-- profile messages displayed conditionally -->

{% if first_visit == True %}
<div class="container alert-container">
  <div class="alert alert-info" role="alert">
    Welcome to AutSPACEs!
  </div>
  <div class="alert alert-info" role="alert">
    We&#x27;re super excited to have you here. As this is your first visit,
    please take the time to complete your profile as this helps us and others make
    the most of the experiences you share. Return here to update your details at any time.
  </div>
</div>
{% endif %}
{% if request_profile == True %}
<div class="container alert-container">
  <div class="alert alert-info" role="alert">
    <p>Thank you for sharing your experience!</p>
    <p>Depending on your choice, your experience will be useful for the general
       public, research or both!</p>
    <p>To make your experience even more useful, it would be great if you could
       take the time to fill out your details. You can come back here to update
       your details at any time.</p>
</div>
</div>
{% endif %}

